section.purchases
  h2.purchases__title Что купить сегодня
  p.purchases__abstract Каждый день обновляем витрину «горячими» продуктами — разбирайте!
  section.purchases__list
    include ../item/item.jade  
  a.purchases__show-all(href="#") Все продукты
