@import "../../helpers/*";

.purchases {
  max-width: 1280px;
  margin: auto;
  padding: 0 10px;
  position: relative;
  z-index: 2;

  @mixin clear;

  &_search {
    margin: 0 -10px;
    .purchases__list {
      margin: 60px auto 0;
      }
    }

  &_catalog {
    max-width: 960px;
    right: 270px;
    .purchases {
      &__header {
        margin-top: 37px;
        }
      }
    }

  &__header {
    float: left;
    margin: 50px 0 30px;
    .purchases {
      &__count {
        color: color($grey-middle a(85%));
        font-size: 16px;
        }
      &__title {
        margin: 0;
      }
    }
  }

  &__title {
    @mixin title;
    background-image: url('../images/purchase__icon.svg');
    margin: 0 0 28px;
    height: 130px;
    padding: 46px 20px 0;

    &_dull {
      background: none;
      padding: 0;
      margin: 70px 0 50px;
      text-align: left;
      font-size: 44px;
      line-height: 60px;
      height: auto;
      }
    }

  &__abstract {
    color: $grey-middle;
    font-size: 22px;
    line-height: 36px;
    font-weight: 200;
    text-align: center;
    }

  &__list {
    clear: both;
    @mixin clear;
    margin: 50px auto 90px;
    }

  &__show-all {
    @mixin red_button;
    margin: 90px auto 80px;
    width: 630px;
    max-width: 100%;
    display: block;
    }
  }

@media (max-width: 1299px) and (min-width: 980px){
  .purchases__list {
    width: 960px;
    }
  }

@media (max-width: 979px) and (min-width: 660px){
  .purchases__list {
    width: 640px;
    }
  }

@media (max-width: 659px) and (min-width: 340px){
  .purchases__list {
    width: 320px;
    }
  }

@media (max-width: 1500px) and (min-width: 1301px) {
  .purchases {
      &_catalog {
        right: auto;
        margin: 0;
      }
    }
  }


@media (max-width: 1300px) {
  .purchases {
      &_catalog {
        right: auto;
        margin: auto;
      }
    }
  }
