section.purchases.purchases_catalog
  header.purchases__header
    h2.purchases__title.purchases__title_dull Молоко
    p.purchases__count Всего 556 предложений
  include ../sort/sort.jade
  section.purchases__list
    include ../item/item-catalog.jade
  include ../dots/dots.jade
