@import "../../helpers/*"; /**/

.rate {
  background: $brown-light;
  padding: 0 20px;

  &__like {
    @mixin pink_button;
    float: right;
    margin: 49px 0 48px;
    background: url('../images/icons-feedback-smile.svg') 20px 50% no-repeat;
    }

  &__dislike {
    @mixin pink_button;
    float: right;
    margin: 49px 0 48px 60px;
    background: url('../images/icons-feedback-sad.svg') 20px 50% no-repeat;
    }

  &__wrapper {
    max-width: 1280px;
    margin: auto;
    line-height: 150px;
    @mixin clear;
    }

  &__title {
    float: left;
    color: $white;
    font-size: 44px;
    font-weight: bold;
    font-family: 'Geometria Bold', Helvetica, Arial, sans-serif;
    }
  }


@media (max-width: 1270px) {
  .rate {
    &__wrapper {
      line-height: 64px;
      padding: 20px 0;
      }
    &__title {
      float: none;
    }
    &__like,
    &__dislike {
      float: none;
      display: inline-block;
      margin: 0 20px 0 0;
    }
  }
}