@import "../../helpers/*";

.filters {
  background-color: $brown;
  position: relative;

  &_more {
    .filters {
      &__additional {
        display: block;
        }
      &__more {
        display: none;
        }
      &__less {
        display: block;
        }
      }
    }

  &__wrapper {
    margin: auto;
    padding: 50px 60px 25px;
    @mixin clear;
    }

  &__additional {
    border-top: 1px solid $brown-lighter;
    background-color: $brown;
    z-index: 10;

    padding: 50px 60px 55px;
    @mixin clear;

    display: none;
    }

  &__filter{
    display: inline-block;
    line-height: 56px;
    margin: 0 20px 30px 0;
    }

  &__checkbox {
    position: absolute;
    left: -9999px;
    &:checked + label:after{
      visibility: visible;
      }
    }

  &__select {
    width: 270px;
    vertical-align: middle;
    display: inline-block;
    &_short {
      width: 170px;
      }
    }

  &__label {
    font-size: 16px;
    margin: 0 30px 0 0;
    color: $white;
    vertical-align: middle;
    display: inline-block;
    &_checkbox{
      cursor: pointer;
      position: relative;
      &:after {
        content: "";
        font-size: 0;
        width: 21px;
        height: 16px;
        background: url('../images/checkbox.svg') 0 0 no-repeat;
        position: absolute;
        left: 3px;
        top: 50%;
        margin: -12px 0 0;
        display: block;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        z-index: 1;
        visibility: hidden;
        }
      &:hover:before {
        background: $white;
        }
      &:before {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        position: relative;
        top: -2px;
        margin: 0 15px 0 0;
        transition: background-color .25s;
        background: $crayon-darker;
        border-radius: 3px;
        content: "";
        }
      }
    }

  &__reset {
    @mixin red_button;
    }

  &__sub-title {
    color: $crayon-lighter;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    margin: 0 0 30px;
    }


  &__more {
    @mixin pink_button;
    float: right;
    background-image: url('../images/filters.png');
    background-repeat: no-repeat;
    background-position: 25px 50%;
    background-size: 21px auto;
    font-size: 16px;
    line-height: 45px;
    margin: 4px 0 0;
    }

  &__less {
    @mixin pink_button;
    float: right;
    background-image: url('../images/clear.svg');
    background-repeat: no-repeat;
    background-position: 25px 50%;
    background-size: 21px auto;
    font-size: 16px;
    line-height: 45px;
    margin: 4px 0 0;
    display: none;
    }
  }


@media (max-width: 1279px) {
  .filters__wrapper {
    .filters { 
      &__less,
      &__more,
      &__filter {
        float:left;
        clear: both;
        }
      }
    }
  }