@import "../../helpers/*"; /**/

.prices {
  background: $white;
  max-width: 1280px;
  margin: 0 auto 75px;
  padding: 55px 0 50px;
  text-align: center;
  z-index: 2;
  position: relative;

  &__title {
    @mixin title;
    background-image: url('../images/prices__icon.svg');
    background-position: 50% -4px;
    margin: 0 0 20px;
    }

  &__abstract {
    font-size: 22px;
    line-height: 36px;
    color: $grey;
    font-weight: 200;
    margin: 0 0 50px;
    }

  &__price {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding: 0 50px 20px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 200;
    b {
      font-weight: bold;
      font-size: 48px;
      line-height: 60px;
      color: $brown-middle;
      }
    .rub {
      font-size: 30px;
      }
    }

  &__list {
    color: $red;
    font-size: 20px;
    line-height: 34px;
    margin: 35px 0 0;
    }

  &__link {
    color: $red;
    text-decoration: none;
    }

  }
