.prices
  h2.prices__title За городом душевно
  p.prices__abstract Килограмм стоит меньше магазинного, цены «настоящие» и не меняются. 
    br
    | Здесь нет перекупщиков и наценок, а производители радушные. Без преувеличений
  
  .prices__examples

    .prices__price 
      p От 
        b 35 
        span.rub ₽
        |  / кг
      .prices__list
        a.prices__link(href="#") Огурцы
        | , 
        a.prices__link(href="#") Картофель
        | , 
        br
        a.prices__link(href="#") Курица
        | , 
        a.prices__link(href="#") Молоко
        
    .prices__price 
      p От 
        b 120 
        span.rub ₽
        |  / кг
      .prices__list
        a.prices__link(href="#") Помидор
        | , 
        a.prices__link(href="#") Свинина
        | ,
        br
        a.prices__link(href="#") Говядина
        | , 
        a.prices__link(href="#") Малина
        
        
    .prices__price 
      p От 
        b 201 
        span.rub ₽
        |  / кг
      .prices__list
        a.prices__link(href="#") Баранина
        | , 
        a.prices__link(href="#") Сулугуни
        | , 
        br
        a.prices__link(href="#") Индейка
        | , 
        a.prices__link(href="#") Клубника
