article.order-item
  header.order-item__header
    h3.order-item__name Домашний сыр с петрушкой
    nav.order-item__tags
      a.order-item__tag(href="#") овощи и фрукты
  .order-item__abstract Широко распространился миф, в соответствии с которым Джеймс Кук, прибыв в Австралию и увидев крупное, передвигающееся прыжками, незнакомое ему животное, обратился к одному из аборигенов с вопросом что это, однако тот, не понимая речи Кука.
  ul.order-item__preferences
    li.order-item__preference Объем заказа: 
      b 5 кг
    li.order-item__preference Частота: 
      b 2 раза в неделю
    li.order-item__preference Способ получения: 
      b доставка

