article.order-item
  header.order-item__header
    h3.order-item__name Творог, 5%
    nav.order-item__tags
      a.order-item__tag(href="#") молочные продукты
    a.order-item__edit(href="#")
  .order-item__abstract Широко распространился миф, в соответствии с которым Джеймс Кук, прибыв в Австралию и увидев крупное, передвигающееся прыжками, незнакомое ему животное, обратился к одному из аборигенов с вопросом что это, однако тот, не понимая речи Кука.
  ul.order-item__preferences
    li.order-item__preference Объем заказа: 
      b 56 кг
    li.order-item__preference Частота: 
      b 1 раза в неделю
    li.order-item__preference Способ получения: 
      b самовывоз

