@import "../../helpers/*";

.ads {

  &__button {
    @mixin clear_button;
    padding: 0 27px;
    font-size: 24px;
    line-height: 66px;
    vertical-align: top;
    font-weight: bold;
    font-family: 'Geometria Bold', Helvetica, Arial, sans-serif;
    color: $brown;
    cursor: pointer;
    b {
      line-height: 26px;
      border-bottom: 1px dotted color($brown-middle a(15%));
      }
    &:hover,
    &_current {
      background: $white;
      display: inline-block;
      color: $red;
      b {
        border-bottom-style: none;
        }
      }
    }

  &__filter {
    background: $crayon-dark;
    border: 3px solid $crayon-dark;
    display: inline-block;
    height: 66px;
    line-height: 66px;
    font-size: 0;
    margin: 15px 0 62px;
    }

  &__sub-title {
    font-size: 44px;
    line-height: 48px;
    font-weight: bold;
    font-family: 'Geometria Bold', Helvetica, Arial, sans-serif;
    color: $brown;
    border-bottom: 1px solid color($brown-middle a(15%));
    display: inline-block;
    margin: 0 0 10px;
    }

  &__control {
    @mixin clear_button;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: 50% 50%;
    margin-top: 10px;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
    &:first-child {
      margin-top: 0;
      }
    &_edit {
      background-image: url('../images/edit.svg');
      }
    &_view {
      background-image: url('../images/view.svg');
      }
    &_remove {
      background-image: url('../images/remove.svg');
      }
    }

  &__table {
    margin: 0 0 60px;
    max-width: 888px;
    width: 100%;
    thead {
      tr {

        }
      th {
        vertical-align: middle;
        line-height: 50px;
        height: 50px;
        white-space: nowrap;
        text-align: left;
        font-size: 14px;
        color: $creyon-middle;
        padding: 0 20px 0 0;
        &:first-child {
          padding: 0;
          }
        &:nth-child(2) {
          padding: 0 45px;
          }
        }
      }
    tbody{
      tr {
        height: 132px;
        &.ads__item{
          &_moderation {
            img {
              opacity: .5;
              filter: grayscale(1);
              }
            td{
              color: color($grey a(50%));
              background: color($white a(50%));
              }
            }
          }
        }
      td {
        vertical-align: middle;
        height: 132px;
        border-bottom: 3px solid $crayon;
        background-color: $white;
        white-space: nowrap;
        padding: 0 20px 0 0;
        font-size: 16px;
        line-height: 26px;
        color: $grey;

        b {
          font-weight: bold;
          font-size: 22px;
          }

        p {
          overflow: hidden;
          position: relative;
          max-height: 78px;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          }

        &:first-child {
          padding: 0;
          width: 136px;
          height: 132px;
          }
        &:nth-child(2) {
          padding: 0 45px;
          white-space: normal;
          width: 100%;
          }
        }
      }
    img {
      width: 136px;
      height: 132px;
      display: block;
      }
    }

  &__wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 40px 20px 100px;
    @mixin clear;
    }

  &__publish {
    @mixin red_button;
    padding: 0 50px;
    }

  &__header {
    border-bottom: 1px solid color($brown a(15%));
    padding: 0 0 27px;
    margin: 0 0 64px;
    }

  &__title {
    font-size: 75px;
    line-height: 100px;
    font-weight: bold;
    font-family: 'Geometria Bold', Helvetica, Arial, sans-serif;
    color: $brown;
    margin: 0 0 20px;
    }

  &__abstract {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: $brown;

    a {
      color: $red;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        }
      }
    }
  }


@media (max-width: 1270px) {
  .ads {
    &__table {
      max-width: none;
      }
    }
  }
