section.ads
  .ads__wrapper
    header.ads__header
      h2.ads__title Мои объявления
      p.ads__abstract Страница для ваших объявлений. Добавляйте, обновляйте, удаляйте или скрывайте их.
      
    include ../hints/hints.jade
    a.ads__publish(href="#") Опубликовать первое объявление
