include ../advice/advice.jade
include ../question/question.jade

section.howto
  .howto__wrapper
    h2.howto__title Как купить на «Ярмонке»
    
    nav.howto__navigation
      h3.howto__sub-title Рассказываем, как покупать продукты на сайте
      ol.howto__questions
        +question('1', 'В каких городах есть «Ярмонка»?')
        +question('2', 'Ваши производители, они кто?')
        +question('3', 'Чем вы помогаете покупателям?')
        +question('4', 'На сайте можно оплатить товар и заказать доставку?')
        +question('5', 'Тогда зачем мне закладки?')
        +question('6', 'Производители доставляют товары в город?')
        +question('7', 'Обязательно регистрироваться на сайте?')
        +question('8', 'Что вы спрашиваете при регистрации?')
        +question('9', 'Регистрироваться — это долго?')
        +question('10', 'Будете отправлять мне спам?')
        +question('11', 'Что делать, если я недоволен производителем?')
        +question('12', 'Смогу ли я сам продавать продукты на сайте?')
      a.howto__ask(href="#"): span Задать свой вопрос

    ol.howto__advices
      +advice('1', 'В каких городах есть «Ярмонка»?', 'Мы работаем в Москве и городах Московской области. Скоро придём в Петербург, а затем и в регионы. Адреса хозяйств ищите в каталоге, карточках товара и публичных профилях производителей.')
      +advice('2', 'Ваши производители, они кто?', 'На сайте есть разные хозяйства, в основном, мелкие и средние. Большинство из них — частники. Есть владельцы дачных участков. Если хотите покупать только у определённого типа хозяйств, внимательно изучайте профили производителей — там указан масштаб, поголовье скота (у тех, кто продаёт мясо) и стаж.')
      +advice('3', 'Чем вы помогаете покупателям?', 'Ко всем опциям на сайте мы пишем подсказки, чтобы вы не тратили время на догадки. На каждой странице сайта есть одна из кнопок: «Напишите нам» или «Задать вопрос». Отвечаем мы действительно быстро — пишите.')
      +advice('4', 'На сайте можно оплатить товар и заказать доставку?', 'Нет, на сайте можно собрать товары в закладки и позвонить производителям, чтобы договориться о доставке и способе оплаты. Производители — работяги, и заказы им удобно получать по телефону. Возможно, позже они передумают, и мы разработаем интерфейс для оплаты и оформления доставки.')
      +advice('5', 'Тогда зачем мне закладки?', 'Закладки для того, чтобы запомнить любимых производителей и самые вкусные продукты. Раздел служит вам калькулятором — на странице указывайте количество товаров и смотрите, сколько получилось.')
      +advice('6', 'Производители доставляют товары в город?', 'Да, обычно производитель выезжает в город несколько раз в неделю. Вы сможете договориться о встрече или съездить в хозяйство, чтобы забрать товар самостоятельно, например, по дороге с дачи. У производителей разные условия — ищите информацию в их профилях или звоните и спрашивайте по телефону.')
      +advice('7', 'Обязательно регистрироваться на сайте?', 'Да, пройти регистрацию нужно для того, чтобы видеть контакты производителей и пользоваться опцией «Добавить в закладки».')
      +advice('8', 'Что вы спрашиваете при регистрации?', 'Нам нужно только имя и адрес электронной почты, чтобы мы знали как к вам обратиться и куда написать, если появятся хорошие новости.')
      +advice('9', 'Регистрироваться — это долго?', 'Нет, это быстро. У вас есть 2 опции: зарегистрироваться через аккаунт одной из социальных сетей (ВКонтакте, Одноклассники и Фейсбук) или стандартным способом — через электронную почту. В первом случае вы зарегистрируетесь в 2 клика без создания специального пароля. Во втором случае мы попросим вас придумать пароль. Оба способа простые и быстрые — вы не потратите больше 3-х минут.')
      +advice('10', 'Будете отправлять мне спам?', 'Спамить не будем, но писать обещаем. Мы запустили сайт в ноябре 2015 и нам нужно ваше участие, чтобы развиваться. Если мы будем писать, то только чтобы узнать ваше мнение о сервисе. Если захотите, сможете отказаться от получения наших писем.')
      +advice('11', 'Что делать, если я недоволен производителем?', 'Если производитель продал вам некачественный продукт, не приехал или не встретил вас вовремя, сразу пишите нам — мы свяжемся с производителем, и, если правда на вашей стороне, понизим его рейтинг в системе, пока он не исправится.')
      li.advice(id="advice-12")
        h3.advice__title Смогу ли я сам продавать продукты на сайте?
        p.advice__text Конечно, нажмите на кнопку «Продать товар» в шапке сайта, и мы проведём вас по интерфейсу. Вы заполните информацию о своём, пусть и совсем небольшом, но производстве, и опишите товар. Быть производителем, как и покупателем, бесплатно. Узнайте 
          a(href="#") как продавать
          |  на «Ярмонке».
