@import "../../helpers/*";

.howto {
  margin: 40px 20px 150px;

  &__wrapper {
    max-width: 1280px;
    margin: auto;
    position: relative;
    @mixin clear;
    }

  &__ask {
    @mixin pink_button;
    width: 100%;
    margin: 50px 0 0;
    border-radius: 3px;
    padding: 0 20px;
    span {
        background: url('../images/dislike.svg') 0 50% no-repeat;
        display: inline-block;
        padding: 0 0 0 40px;
        }
    }

  &__title {
    font-size: 74px;
    line-height: 100px;
    color: $brown;
    font-weight: bold;
    font-family: 'Geometria Bold', Helvetica, Arial, sans-serif;
    margin: 0 0 55px;
    }

  &__sub-title {
    font-size: 24px;
    line-height: 36px;
    color: $brown;
    font-weight: bold;
    font-family: 'Geometria Bold', Helvetica, Arial, sans-serif;
    margin: -4px 0 25px;
    }

  &__navigation {
    width: 310px;
    float: left;
    position: relative;
    z-index: 2;
    left: 100%;
    padding: 0;
    margin-left: -100%;
    }
  &__questions {
    counter-reset: questions;
    }
  &__advices {
    float: left;
    width: 100%;
    position: relative;
    left: 100%;
    box-sizing: border-box;
    margin-left: -100%;
    padding-left: 400px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    max-width: 1280px;
    counter-reset: advices;
    }
  }

@media (max-width: 800px) {
  .howto {
    margin: 40px 20px 0;
    &__ask {
      width: auto;
      display: inline-block;
      }
    &__navigation {
      float: none;
      width: auto;
      left: auto;
      margin: auto;
    }
    &__advices {
      float: none;
      margin: 20px 0 10px;
      left: auto;
      padding: 0;
    }
  }
}