include ../advice/advice.jade
include ../question/question.jade

section.howto
  .howto__wrapper
    h2.howto__title Как продать на «Ярмонке»
    
    nav.howto__navigation
      h3.howto__sub-title Рассказываем, как продать продукты на сайте
      ol.howto__questions
        +question('1', 'Что такое «Ярмонка» для производителя?')
        +question('2', 'Каким требованиям должен соответствовать продавец?')
        +question('3', 'Сколько стоит одно объявление?')
        +question('4', 'Обязательно регистрироваться на сайте?')
        +question('5', 'Что вы спрашиваете при регистрации?')
        +question('6', 'Что указывать в объявлении?')
        +question('7', 'Нам нужно связываться с вами, чтобы опубликовать объявление?')
        +question('8', 'Как я узнаю, популярны ли мои продукты?')
        +question('9', 'Каким будет процесс продажи?')
        +question('10', 'А если мне будут звонить очень часто?')
        +question('11', 'Обязательно доставлять товар клиенту?')
        +question('12', 'Что делать, если покупатели меня подводят?')
        +question('13', 'Если я зарегистрирован как продавец, смогу ли я покупать?')
      a.howto__ask(href="#"): span Задать свой вопрос

    ol.howto__advices
      +advice('1', 'Что такое «Ярмонка» для производителя?', 'Наш сайт — инструмент ваших продаж. Вы публикуете объявления, они попадают в каталог и становятся видны пользователям сервиса. Клиенты читают о ваших продуктах и звонят вам, чтобы договориться о встрече.')
      +advice('2', 'Каким требованиям должен соответствовать продавец?', 'Производить продукты в хотя бы одной из 9 категорий: мясо, птица и яйца, рыба, молочные продукты, овощи и фрукты, хлеб и выпечка, напитки или изделия. Весь список здесь. Вы можете быть дачником, работать в мелком, среднем или крупном производстве — для всех условия равны.')
      +advice('3', 'Сколько стоит одно объявление?', 'Все объявления бесплатны. Мы не берём деньги ни за регистрацию на сайте, ни за публикацию объявлений.')
      +advice('4', 'Обязательно регистрироваться на сайте?', 'Да, пройти регистрацию нужно для того, чтобы создать страницу о хозяйстве, опубликовать объявления и получить возможность их редактировать.')
      +advice('5', 'Что вы спрашиваете при регистрации?', 'Чтобы зарегистрироваться, нужно рассказать о хозяйстве и оставить контакты. Название, адрес, масштаб, часы работы, несколько фотографий — всё, что мы попросим.')
      +advice('6', 'Что указывать в объявлении?', 'Выберите из списка категорию товара, придумайте название, укажите цену за единицу измерения. Опишите свойства продукта и загрузите 2–3 фотографии. В интерфейсе мы публикуем подсказки, поэтому вы не запутаетесь.')
      +advice('7', 'Нам нужно связываться с вами, чтобы опубликовать объявление?', 'Специально не нужно, только если у вас есть вопрос или проблема. В таком случае напишите нам или используйте одну из опций на страницах сайта: кнопку «Задать вопрос» в правом верхнем углу «шапки» или ссылку «Написать в „Ярмонку“», размещённую на большинстве страниц.')
      +advice('8', 'Как я узнаю, популярны ли мои продукты?', 'Если вы авторизованы на сайте как продавец, в карточках ваших товаров и в разделе «Мои объявления» вам видно количество просмотров. Чтобы сделать объявление популярным, отредактируйте описание, сделайте его интереснее. Обратите внимание на фотографии, их качество. Подумайте, достаточно ли покупателям информации о вас и продуктах. Полистайте каталог, посмотрите карточки других производителей. Если вам нужен совет, спрашивайте у нас — поможем.')
      +advice('9', 'Каким будет процесс продажи?', 'Покупатели будут просматривать каталог с объявлениями и звонить производителю, если товар ему по душе. Вы можете указать не только мобильный телефон, но и скайп или электронную почту — любой удобный именно вам способ.')
      +advice('10', 'А если мне будут звонить очень часто?', 'Не будут. Мы защищаем данные производителей и показываем их только зарегистрированным пользователям. Случайные посетители сайта ваши контакты увидеть не смогут.')
      +advice('11', 'Обязательно доставлять товар клиенту?', 'Нет, только если у вас есть возможность и желание. Все правила задаёте вы: доставка может быть платной или бесплатной, по умолчанию или при условиях. Если вы решите, что вам подходит только самовывоз — нормально, просто напишите об этом в профиле. Многие покупатели не против заехать за заказом сами.')
      +advice('12', 'Что делать, если покупатели меня подводят?', 'Сообщать нам. Мы свяжемся с покупателем, выясним причину и выскажем наши пожелания. Если ошибка повторится, мы лишим недобросовестного пользователя доступа к сервису.')
      +advice('13', 'Если я зарегистрирован как продавец, смогу ли я покупать?', 'Да, все функции для покупки продуктов остаются на сайте — используйте.')
