section.order
  header.order__header
    h3.order__number Заказ №127
    time.order__placed(datetime="2015-06-15") Размещен 15 июля 2015
    button.order__show(type="button") Показать имя и телефон

  include ../facts/facts_order.jade

  include ../order_item/order_item_1.jade
  include ../order_item/order_item_2.jade
  include ../order_item/order_item_3.jade

  



