section.order
  header.order__header
    h3.order__number Заказ №127

  include ../order_item/order_item_my_1.jade
  include ../order_item/order_item_my_2.jade
  include ../order_item/order_item_my_3.jade