section.commandments
  .commandments__wrapper
    h2.commandments__title Три заповеди «Ярмонки»
    ol.commandments__list
      li.commandments__commandment
        .commandments__sub-title Не называть продукты «фермерскими»
        .commandments__text Ни при каких условиях. Фермерские продукты — для эко-бутиков. А мы выставляем натуральные деревенские продукты: недорогие и добротные. Хотим, чтобы воспоминание о вкусе «как раньше» стало частью настоящего дня.
      li.commandments__commandment
        .commandments__sub-title Продавать дешевле, чем в магазине
        .commandments__text Иначе какой смысл, правда? Мы знаем средние цены на продукты и отслеживаем, что происходит на нашем сайте. У производителей с честными ценами больше шансов подняться в выдаче в будущем и обеспечить себе постоянный поток заказов.
      li.commandments__commandment
        .commandments__sub-title Быть честным, заниматься своим делом
        .commandments__text Держать хозяйство, работать с почвой, ухаживать за животными — дело для трудолюбивых, по-особому внимательных. Наши производители именно такие. Они разделяют наши убеждения. Многих мы знаем лично и помогаем поддерживать их профили и объявления в хорошем состоянии.
          
