nav.header__navigation.header__navigation_window
  .header__navigation-wrapper
    button.header__mobile-switch(type="button")
    
    a.header__logotype-wrapper(href="/")
      h1.header__logotype ЯРМОНКА
    
    nav.header__mobile
      a.header__sell(href="#") Продать товар
      //- a.header__user(href="/login/") 
      //-   +icon('person', 'header__small-icon')
      //-   | Личный кабинет
      .header__user.header__user_logedin
        +icon('person', 'header__small-icon')
        span.header__user-wrapper Федор Михалков
        nav.header__user-dropdown
          a.header__user-link(href="ads.html") Мои объявления
          a.header__user-link(href="my_orders.html") Мои заказы
          a.header__user-link(href="profile.html") Профайл
          a.header__user-link(href="/logout/") Выйти

      button.header__items(type="button") Продукты

      a.header__orders(href="/orders/", data-message="Здесь новое!")
        +icon('orders', 'header__small-icon')
        | Заказы

      .header__city 
        span.header__city-wrapper Санкт-Петербург
        nav.header__city-dropdown
          a.header__city-link(href="#") Москва
          a.header__city-link.header__city-link_current(href="#") Санкт-Петербург

      a.header__favorites(href="#") 23
      a.header__search(href="#", data-label="Поиск")
      
      button.header__mobile-close(type="button") Свернуть


nav.header__dropdown.header__dropdown_items
  .header__dropdown-wrapper
    a.header__dropdown-link(href="#") 
      +icon('meat', 'header__icon')
      | Мясо
    a.header__dropdown-link(href="#") 
      +icon('eggs', 'header__icon')
      | Птица и яйцо
    a.header__dropdown-link(href="#") 
      +icon('fish', 'header__icon')
      | Рыба
    a.header__dropdown-link(href="#") 
      +icon('milk', 'header__icon')
      | Молочное
    a.header__dropdown-link(href="#") 
      +icon('fruits', 'header__icon')
      | Овощи и фрукты
    a.header__dropdown-link(href="#") 
      +icon('wild', 'header__icon')
      | Дикоросы
    a.header__dropdown-link(href="#") 
      +icon('bread', 'header__icon')
      | Хлеб и выпечка
    a.header__dropdown-link(href="#") 
      +icon('drinks', 'header__icon')
      | Напитки
    a.header__dropdown-link(href="#") 
      +icon('handmade', 'header__icon')
      | Изделия
    a.header__dropdown-link(href="#") 
      +icon('all', 'header__icon')
      | Весь каталог
  button.header__close(type="button") Свернуть

header.header.header_window
  .header__wrapper  
    h2.header__title В деревню за продуктами
    p.header__abstract Покупайте
      a.header__link(href="#") домашнее молоко
      | , 
      a.header__link(href="#") мясо
      | , 
      a.header__link(href="#") овощи и фрукты
      | в частных хозяйствах
    
    include ../search/search
      
