@import "../../helpers/*";

.header {
  position: relative;
  background: $brown;
  height: 132px;
  
  &__mobile {
    padding: 0 0 0 160px;
    position: relative;
    @mixin clear;
    
    &-close {
      @mixin clear_button;
      color: $red;
      font-size: 16px;
      line-height: 36px;
      cursor: pointer;
      margin: 50px 0 0;
      padding: 0 0 0 20px;
      background: url('../images/header__opened.svg') 0 50% no-repeat;
      display: none;
      }
    
    &-switch {
      @mixin clear_button;
      position: absolute;
      right: 0;
      height: 49px;
      width: 49px;
      border: 2px solid $white;
      border-radius: 3px;
      background: url('../images/menu.svg') 50% 50% no-repeat;
      background-size: 40px 40px;
      cursor: pointer;
      transition: background-color $duration;
      display: none;
      &:hover {
        background-color: color($white a(7%));
        }
      }
    }

  &__icon{
    width: 150px;
    margin: 0 auto 11px;
    display: block;
    }

  &__small-icon {
    height: 40px;
    width: 40px;
    margin: 0 auto 11px;
    display: inline-block;
    vertical-align: middle;
    transition: fill .25s;
    fill: #fff;
    position: relative;
    top: 4px;
  }

  &__close {
    @mixin clear_button;
    display: inline-block;
    color: $red;
    font-size: 16px;
    line-height: 36px;
    cursor: pointer;
    margin: 50px 0 0;
    padding: 0 0 0 20px;
    background: url('../images/header__opened.svg') 0 50% no-repeat;
    }

  &__dropdown {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $brown;
    padding: 0 0 30px;
    z-index: 300;
    text-align: center;
    transition: transform .5s ease-in-out;
    transform: translateY(-1000px);

    &_open {
      transform: translateY(0);
      }

    &-link {
      padding: 25px 0 0;
      width: 20%;
      height: 205px;
      text-decoration: none;
      text-align: center;
      color: $white;
      float: left;
      font-weight: bold;
      font-style: 18px;
      line-height: 24px;
      fill: $crayon;
      transition: color $duration, fill $duration;
      &:hover {
        color: $yellow-light;
        fill: $yellow;
        }
      }

    &-wrapper {
      max-width: 1280px;
      padding: 132px 0 30px;
      margin: auto;
      @mixin clear;
      }
    }

  &_window {
    height: auto;
    min-height: 380px;
    padding: 220px 20px 150px;
    margin: 0 0 -100px;
    background: $brown url('../images/header-bg.jpg') 50% 0 no-repeat;
    background-size: cover;
    z-index: 1;
    }

  &_about {
    background-image: url('../images/lambs.jpg');
    margin: 0;
    }

  &__slogan {
    text-align: center;
    font-size: 22px;
    line-height: 36px;
    color: $white;
    margin: 0 auto;
    max-width: 980px
    }

  &_catalog {
    height: auto;
    min-height: 385px;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    background: $brown url('../images/catalog-bg.jpg') 50% 0 no-repeat;
    background-size: cover;
    z-index: 1;
    
    .header {

      &__title {
        line-height: 80px;
        padding: 170px 0 0;
        margin: 0;
        }
      }
    }

  &__navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 53px;
    line-height: 53px;
    padding: 39px 20px 40px;
    z-index: 400;
    background: $brown;
    
    &-wrapper {
      max-width: 1280px;
      margin: auto;
      @mixin clear;
      position: relative;
      }

    &_window {
      background: none;
      }
    }

  &__logotype {
    float: left;
    margin: 0 25px 0 0;
    height: 53px;
    width: 120px;
    background: url('../images/logotype.svg') 0 50% no-repeat;
    text-indent: -9999px;
    text-decoration: none;
    position: relative;
    top: -9px;
    left: 2px;
    
    position: absolute;
    }

  &__sell {
    float: right;
    line-height: 49px;
    padding: 0 30px;
    border: 2px solid $white;
    font-size: 16px;
    font-weight: bold;
    color: $white;
    text-decoration: none;
    margin: 0 0 0 30px;
    border-radius: 3px;
    transition: background-color $duration;
    
    &:hover {
      background-color: color($white a(7%));
      }
    }

  &__search {
    width: 24px;
    height: 49px;
    text-decoration: none;
    background: url('../images/search.svg') 50% 60% no-repeat;
    float: right;
    }

  &__user {
    color: $white;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    float: right;
    margin: 0 0 0 25px;
    position: relative;
    
    &_logedin{
      cursor: default;
      padding: 0 20px 0 0;
      background: url('../images/header__closed.svg') 100% 50% no-repeat;
      
      &:hover .header__user-dropdown {
        display: block;  
        }
      }

    &-dropdown {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -50%;
      background: $white;
      min-width: 100%;
      max-height: 175px;
      overflow-x: hidden;
      overflow-y: auto;
      display: none;
      }

    &-link {
      display: block;
      line-height: 35px;
      white-space: nowrap;
      font-size: 14px;
      padding: 0 15px;
      color: $brown;
      text-decoration: none;
      
      &_current,
      &:last-child {
        color: $grey-semi;
        }
      
      &:hover {
        color: $red;
        background-color: $pink;
        }
      }

    &-wrapper {
      display: inline-block;
      line-height: 18px;
      border-bottom: 1px dotted $white;
      cursor: default;
      }

    &:hover {

      .header__small-icon{
        fill: $red;
        }
      }
    }

  &__favorites {
    color: $white;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    float: right;
    margin: 0 0 0 25px;
    padding: 0 0 0 30px;
    background: url('../images/header__like.svg') 0 50% no-repeat;
    }

  &__orders {
    color: $white;
    font-size: 20px;
    font-weight: bold;
    line-height: 49px;
    display: inline-block;
    text-decoration: none;
    float: left;
    margin: 0 20px 0 0;
    padding: 0 20px 0 0;
    position: relative;
    
    &[data-message]:before {
      content: attr(data-message);
      font-weight: 200;
      font-family: Roboto;
      position: absolute;
      bottom: 100%;
      right: 100%;
      right: calc(100% - 5px);
      margin-right: -50%;
      height: 20px;
      line-height: 20px;
      padding: 0 10px;
      background: $white;
      border-radius: 3px;
      font-size: 12px;
      white-space: nowrap;
      color: $brown;
      pointer-events: none;
      opacity: 0;
      transition: opacity .25s;
      }

    &[data-message]:after {
      content:"";
      display: block;
      height: 0;
      width: 0;
      overflow: hidden;
      line-height: 0;
      font-size: 0;
      position: absolute;
      bottom: 100%;
      left: 15px;
      margin-bottom: -5px;
      border-style: solid;
      border-color: $white transparent transparent;
      border-width: 5px 5px 0 5px;
      pointer-events: none;
      opacity: 0;
      transition: opacity .25s;
      }
    
    &:hover {

      &:after,
      &:before {
        opacity: 1;
        }

      .header__small-icon{
        fill: $yellow-light;
        }
      }
    }

  &__items {
    @mixin clear_button;
    color: $white;
    font-size: 20px;
    line-height: 49px;
    display: inline-block;
    text-decoration: none;
    float: left;
    margin: 0 25px 0 0;
    padding: 0 0 0 40px;
    font-weight: bold;
    cursor: pointer;

    background: url('../images/header__items__icon.svg') 0 50% no-repeat;
    }

  &__city {
    @mixin clear_button;
    color: $white;
    font-size: 16px;
    line-height: 49px;
    display: inline-block;
    text-decoration: none;
    float: left;
    margin: 0 25px 0 0;
    padding: 0 20px 0 0;
    background: url('../images/header__closed.svg') 100% 50% no-repeat;
    position: relative;
    
    &:hover .header__city-dropdown {
      display: block;
      }

    &-dropdown {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -50%;
      background: $white;
      min-width: 100%;
      max-height: 175px;
      overflow-x: hidden;
      overflow-y: auto;
      display: none;
      }

    &-link {
      display: block;
      line-height: 35px;
      white-space: nowrap;
      font-size: 14px;
      padding: 0 15px;
      color: $brown;
      text-decoration: none;
      
      &_current {
        color: $grey-semi;
        pointer-events: none;
        }
      
      &:hover {
        color: $red;
        background-color: $pink;
        }
      }
    }

  &__title {
    color: $crayon;
    font-size: 74px;
    line-height: 100px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 96px;
    }

  &__abstract {
    text-align: center;
    font-size: 22px;
    line-height: 36px;
    color: $white;
    margin: 0 0 20px;
    }

  &__link {
    color: $yellow;
    text-decoration: none;
    display: inline-block;
    padding: 0 24px;
    border: 2px solid $yellow;
    line-height: 49px;
    margin: 0 20px 20px;
    transition: background-color $duration;
    background-color: color($black a(20%));
    &:hover {
      background-color: color($black a(40%));
      }
    }
  }


@media (max-width: 1270px) {
    .header {
      
      &__sell,
      &__user,
      &__favorites,
      &__items,
      &__orders,
      &__city,
      &__search {
        float: none;
        clear: both;
        display: block;
        padding: 0 0;
        background: none;
        text-align: left;
        font-size: 18px;
        font-weight: normal;
        border-style: none;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        line-height: 35px;
        color: $white;
        text-decoration: none;
        
        &:hover {
          background: none;
          }
        
        &:after,
        &:before {
          display: none;
          }
        
        span {
          border-style: none;  
          }
        
        .icon {
          display: none;
          }
        }
      
      &__user span:after,
      &__city span:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 10px;
        background: url(../images/header__sub.svg) 50% 50% no-repeat;
        margin: 0 0 0 5px;
        }
      
      &__user {
        
        &-wrapper {
          cursor: pointer;
          }
        
        .header__user {
          
          &-dropdown {
            display: none;
            position: static;
            margin: 0 -40px;
            max-height: 350px;
            overflow: hidden;
            }
          
          &-link {
            padding: 0 40px;
            }
          }
        
        &:hover {

          .header__user-dropdown {
            display: none;
            }
          }
        
        &_open:hover, 
        &_open {

          .header__user-dropdown {
            display: block;
            }
          }

        
        }
      
      &__city {
        
        &-wrapper {
          cursor: pointer;
          }
        
        .header__city {
          
          &-dropdown {
            display: none;
            position: static;
            margin: 0 -40px;
            max-height: 350px;
            overflow: hidden;
            }
          
          &-link {
            padding: 0 40px;
            }
          }
        
        &:hover {

          .header__city-dropdown {
            display: none;
            }
          }
        
        &_open:hover, 
        &_open {

          .header__city-dropdown {
            display: block;
            }
          }

        
        }
      
      &__orders[data-message]:after {
        content: " (" attr(data-message) ")";
        display: inline-block;
        position: static;
        opacity: 1;
        height: auto;
        width: auto;
        line-height: inherit;
        font-size: 14px;
        margin: 0 0 0 5px;
        border-style: none;
        vertical-align: middle;
        }
      
      &__favorites:before {
        content: attr(data-label);
        display: inline;
        }
      
      &__search:before {
        content: attr(data-label);
        display: inline;
        }
        
      &__mobile {
        position: absolute;
        top: -40px;
        left: -20px;
        right: -20px;
        background: color($brown l(-5%));
        padding: 40px 20px 30px;
        z-index: 300;
        text-align: center;
        transition: transform .5s ease-in-out;
        transform: translateY(-1000px);
        
        &-close {
          display: inline-block;
          }

        &_open {
          transform: translateY(0);
          }

        &-switch {
          display: block;
          }
        }
      }
    }