section.profile.profile_manufacture
  .profile__wrapper
    header.profile__header
      h2.profile__title Профиль продавца
      a.profile__delete(href="#") Удалить профиль
      p.profile__abstract Вы зарегистрированы на «Ярмонке» как продавец. Вы разместили 
        a(href="#") 12 объявлений.
    
    include ../hints/hints.jade
    
    .profile__tabs
      h2.profile__sub-title Ваши данные

      menu.profile__tab-menu
        button.profile__tab-button.profile__tab-button_current(type="button", data-target="manufacturer"): b О хозяйстве
        button.profile__tab-button(type="button", data-target="contacts"): b Контакты
      
      include ../form/form_manufacturer_profile.jade
      include ../form/form_contacts_profile.jade
    
  