section.profile
  .profile__wrapper
    header.profile__header
      h2.profile__title Профиль продавца
      a.profile__delete(href="#") Удалить профиль
      p.profile__abstract Вы зарегистрированы на «Ярмонке» как продавец.
    
    include ../hints/hints.jade
    include ../form/form_profile.jade
    
  