section.youtube
  .youtube__wrapper
    h2.youtube__title Следите за нами на YouTube
    p.youtube__abstract Мы открыли канал на YouTube, куда публикуем видео с наших поездок к производителям. На фирменном фургоне мы ездим в Московскую область и просим пустить нас поработать на производстве один день. Мы полем, доим, собираем, пакуем. С нами интересно — присоединяйтесь.
    nav.youtube__videos
      a.youtube__video(href="#") 
        img.youtube__video-photo(src="images/video-1.jpg", alt="Фотография")
        span.youtube__video-title Паковка продукции молочного завода «Соломенки»
          span.youtube__video-duration 23:56
      a.youtube__video(href="#") 
        img.youtube__video-photo(src="images/video-2.jpg", alt="Фотография")
        span.youtube__video-title Как мы доили коров в совхозе «Лесные пасеки»
          span.youtube__video-duration 9:21
      a.youtube__video(href="#") 
        img.youtube__video-photo(src="images/video-3.jpg", alt="Фотография")
        span.youtube__video-title Сборка летнего урожая плантации «Солнечные долины»
          span.youtube__video-duration 14:02
    menu.youtube_asctions
      button.youtube__subscribe(type="button") Подписаться на обновления
      a.youtube__show-all(href="#") Все видеозаписи
  
