@import "../../helpers/*";

.youtube {
  background: $white;

  &__wrapper {
    max-width: 1270px;
    padding: 85px 0 100px 10px;
    margin: auto;
    color: $grey;
    }

  &__videos {
    font-style: 0;
    white-space: nowrap;
    margin: 0 0 50px;

    &_two {

      .youtube {
        
        &__video{
          width: 625px;
          height: 485px;
          
          &:first-child {
            width: 625px;
            }
          

          &:before {
            top: 170px;
            }

          &-title {
            width: 320px;
            margin: auto;
            top: 250px;
            left: 155px;
            right: 155px;
            }
          }
        }
      }
    }

  &__show-all {
    color: $brown;
    font-size: 16px;
    line-height: 30px;
    vertical-align: middle;
    text-decoration: none;
    border-bottom: 1px dotted $brown;
    &:hover {
      border-style: none;
      }
    }

  &__video {
    transition: background-color .25s;
    background-color: color($brown a(70%));
    margin: 0 0 10px 10px;
    width: 413px;
    height: 320px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    color: $white;
    text-decoration: none;
    &:first-child {
      width: 414px;
      margin-left: 0;
      }
    &:hover {
      background-color: color($brown a(90%));
      }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 90px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 2;
      pointer-events: none;
      background: url('../images/play.svg') 17px 50% no-repeat;
      background-size: 14px auto;
      border: 2px solid $red;
      border-radius: 100%;
      width: 46px;
      height: 46px;
      overflow: hidden;
      font-size: 0;
      }
    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: inherit;
      -webkit-mix-blend-mode: multiply;
      mix-blend-mode: multiply;
      }
    &-photo {
      display: block;
      width: 100%;
      height: 100%;
      }
    &-title {
      white-space: normal;
      position: absolute;
      top: 170px;
      left: 50px;
      right: 50px;
      text-align: center;
      z-index: 2;
      max-height: 300px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      }
    &-duration {
      margin: 10px 0 0;
      display: block;
      font-size: 14px;
      line-height: 30px;
      font-weight: normal;
      }
    }

  &__abstract {
    font-size: 22px;
    line-height: 36px;
    font-weight: 200;
    max-width: 940px;
    text-align: center;
    margin: 0 auto 50px;
    }

  &__subscribe {
    @mixin red_button;
    max-width: 100%;
    width: 420px;
    margin: 0 50px 0 440px;
    display: inline-block;
    vertical-align: middle;
    }

  &__title {
    @mixin title;
    background-image: url('../images/advice__icon.svg');
    margin: 0 0 35px;
    }
  }


@media (max-width: 1279px) {
  .youtube {
    text-align: center;
    
    &__videos {
      white-space: normal;
      }
    
    &__video:first-child,
    &__video {
      margin: 10px 10px;
      }
    
    &__subscribe {
      margin: 0 20px 0 0;
      display: inline-block;
      }
    }
  }