form.order-edit(action="/order/edit/", method="post")
  header.order-edit__header
    a.order-edit__cancel(href="#") Оставить без изменений
    h3.order-edit__title Редактирование записи «Домашний сыр с петрушкой»

  fieldset.order-edit__field
    label.order-edit__label(for="order-edit__category") Категория
    select#order-edit__category.order-edit__select(name="category", placeholder="Категория", required="required")
      option Молочные продукты
      option Овощи
      option Фрукты
      option Мясо
      option Малоросы

  fieldset.order-edit__field.order-edit__field_fixed
    label.order-edit__label(for="order-edit__title") Название
    input#order-edit__title.order-edit__input.order-edit__input_wide(type="text", name="title", placeholder="Домашний сыр с петрушкой", required="required", maxlength="50")
    .order-edit__hint 
      p Заголовок до 50 знаков. Проверяйте текст — с опечатками искать труднее.

  fieldset.order-edit__field-group
    
    fieldset.order-edit__field
      label.order-edit__label(for="order-edit__volume") Объем
      input#order-edit__volume.order-edit__input.order-edit__input_short(type="text", name="title", placeholder="56", required="required")
    
    fieldset.order-edit__field
      label.order-edit__label(for="order-edit__title") За единицу измерения
      select#order-edit__category.order-edit__select(name="category", placeholder="За единицу измерения", required="required")
        option Центнер
        option Килограмм
        option Грамм
        option Миллиграмм

  fieldset.order-edit__field
    label.order-edit__label(for="order-edit__frequency") Частота
    select#order-edit__frequency.order-edit__select(name="frequency", placeholder="Частота", required="required")
      option 1 раз в неделю
      option 2 раза в неделю
      option 3 раза в неделю
      option 4 раза в неделю
      option 5 раз в неделю
      option 6 раз в неделю
      option 7 раз в неделю
    .order-edit__hint 
      p Если в списке нет подходящего варианта, выберите «по договорённости» — детали обсудите с продавцом.

  fieldset.order-edit__field
    h3.order-edit__label Способ получения
    .order-edit__radio-group
      .order-edit__radio
        input#order-edit__delivery.order-edit__radio-input(type="radio", name="delivery", value="delivery", checked="checked")
        label.order-edit__radio-label(for="order-edit__delivery") Доставка
      .order-edit__radio
        input#order-edit__self.order-edit__radio-input(type="radio", name="delivery", value="self")
        label.order-edit__radio-label(for="order-edit__self") Самовывоз

  fieldset.order-edit__field
    label.order-edit__label(for="order-edit__abstract") Описание

    textarea#order-edit__abstract.order-edit__textarea(cols="80", rows="10", name="abstract", required="required", maxlength="240")
    .order-edit__hint 
      p Расскажите продавцу о деталях: в каком виде вам нужен товар, с какой строгостью доставки, в каких условиях он будет работать.
      p У вас есть 240 знаков, чтобы описать подробности.

  
  menu.order-edit__menu
    button.order-edit__save(type="submit") Сохранить
    button.order-edit__reset(type="reset") Отменить изменения
    a.order-edit__delete(href="/order/delete") Удалить продукт