section.advices

  h2.advices__title Что советует сервис

  section.advices__advice.advices__advice_price
    b.advices__tag Цена
    h3.advices__sub-title Экономьте на продуктах
    p.advices__abstract Нет посредников — нет наценки. Покупка у производителя всегда выиграет у магазина, фермерской лавки и городского рынка.
    p.advices__abstract Сервис высчитывает среднюю цену на продукты и рекомендует производителям.

  section.advices__advice.advices__advice_quality
    b.advices__tag Качество
    h3.advices__sub-title Ожидайте вкуса
    p.advices__abstract Домашние продукты побеждают свежестью и пользой. Выращиваются в естественных условиях, в них нет добавок. Производитель продаёт только свежее, заказы готовит к вашему приезду.
    
  section.advices__advice.advices__advice_count
    b.advices__tag Количество
    h3.advices__sub-title Покупайте много
    p.advices__abstract Крупнее покупка — ниже стоимость. Заказывайте продовольствие на семью, привлекайте друзей и соседей. Закупайте продукты долгого хранения, делайте заготовки
    
  section.advices__advice.advices__advice_delivery
    b.advices__tag Доставка
    h3.advices__sub-title Заказывайте на дом
    p.advices__abstract 9 из 10 производителей доставят продукты в город. Используйте возможность или забирайте заказы самостоятельно — после загородного отдыха, по дороге на дачу и домой.
    
  a.advices__buy(href="#") Как купить
