@import "../../helpers/*";

.results {

  margin: 42px 0 90px;
  @mixin clear;

  &__link {
    color: $red;
    font-size: 24px;
    margin: 0 40px 0 0;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      }
    }

  &__companys {
    @mixin clear;
    width: 100%;
    margin: 0 0 30px;
    }

  &__more {
    @mixin red_button;
    width: 640px;
    display: block;
    margin: 30px auto 60px;
    }

  &__count {
    color: color($grey-middle a(85%));
    font-size: 16px;
    }

  &__wrapper {
    max-width: 1280px;
    padding: 0 0 0 10px;
    margin: auto;
    }

  &__header {
    border-bottom: 1px solid color($brown a(15%));
    padding: 0 0 27px;
    margin: 0 0 64px;
    }

  &__section {
    margin: 0 0 20px;
    }

  &__sub-header {
    margin: 0 0 40px;
    .results {
      &__sub-title {
        line-height: 64px;
        margin: 0;
        }
      }
    }

  &__title {
    font-size: 75px;
    line-height: 100px;
    font-weight: bold;
    font-family: 'Geometria Bold', Helvetica, Arial, sans-serif;
    color: $brown;
    margin: 0 0 20px;
    }

  &__sub-title {
    font-size: 44px;
    line-height: 60px;
    font-weight: bold;
    font-family: 'Geometria Bold', Helvetica, Arial, sans-serif;
    color: $brown;
    margin: 0 0 20px;
    }

  &__abstract {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: $brown;

    a {
      color: $red;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        }
      }
    }
  }
