section.results
  .results__wrapper
    header.results__header
      h2.results__title Результаты поиска
      p.results__abstract Вот что мы нашли по запросу «Козье моло...»
    
    section.results__section
      h3.results__sub-title Каталог
      nav.results__links
        a.results__link(href="#") Козье молоко
        a.results__link(href="#") Молоко
        a.results__link(href="#") Молочные продукты
      
    section.results__section
      include ../purchases/purchases-search.jade
      button.results__more(type="button") Ещё, показать больше
    
    section.results__section
      header.results__sub-header
        h3.results__sub-title Производители
        p.results__count Всего 556 предложений
      
      .results__companys
        include ../company/company-1.jade
        include ../company/company-2.jade
        include ../company/company-3.jade
        include ../company/company-4.jade
        
      button.results__more(type="button") Ещё, показать больше
