@import "../../helpers/*";

.future {
  background: $brown-light;
  &__wrapper {
    max-width: 1280px;
    padding: 85px 20px 100px;
    margin: auto;
    color: $white;
    }

  &__abstract {
    font-size: 22px;
    line-height: 36px;
    font-weight: 200;
    max-width: 940px;
    text-align: center;
    margin: 0 auto 50px;
    }

  &__learn {
    @mixin red_button;
    max-width: 100%;
    width: 420px;
    margin: auto;
    display: block;
    }

  &__title {
    @mixin title;
    background-image: url('../images/advice__icon.svg');
    margin: 0 0 35px;
    color: $white;
    }
  }
