section.future
  .future__wrapper
    h2.future__title Чего ждать от «Ярмонки» дальше
    p.future__abstract У нас большие планы: следующим шагом мы обратимся к ресторанам и камерным магазинам — запустим интерфейс для объёмных и регулярных заказов продовольствия. Продолжим постепенно развивать и поддерживать функциональность, нужную производителям.
    a.future__learn(href="#") Узнавать о новых функциях
