.sort
  h3.sort__title Сортировка:
  menu.sort__menu
    button.sort__button.sort__button_forward.sort__button_current(type="button") Цена
      +icon('forward', 'sort__icon sort__icon_forward')
      +icon('backward', 'sort__icon sort__icon_backward')
    button.sort__button(type="button") Дата
      +icon('forward', 'sort__icon sort__icon_forward')
      +icon('backward', 'sort__icon sort__icon_backward')
