extends ../elements/layout/layout.jade

block title
  title О проекте | Ярмонка

block content
  include ../elements/header/header_about.jade
  include ../elements/commandments/commandments.jade
  include ../elements/team/team.jade
  include ../elements/youtube/youtube_two.jade
  include ../elements/future/future.jade
  
block scripts
  script(src="//maps.googleapis.com/maps/api/js")
