extends ../elements/layout/layout.jade

block title
  title Как продать на «Ярмонке» | Ярмонка

block content
  include ../elements/header/header.jade
  include ../elements/howto/howto_sell.jade

block scripts
  script(src="//maps.googleapis.com/maps/api/js")
