extends ../elements/layout/layout.jade

block title
  title Как купить на «Ярмонке» | Ярмонка

block content
  include ../elements/header/header.jade
  include ../elements/howto/howto_buy.jade

block scripts
  script(src="//maps.googleapis.com/maps/api/js")
