extends ../elements/layout/layout.jade

block title
  title Все продукты | Ярмонка

block content
  include ../elements/header/header.jade
  include ../elements/products/products.jade

block scripts
  script(src="//maps.googleapis.com/maps/api/js")
