extends ../elements/layout/layout.jade

block title
  title Профиль продавца | Ярмонка

block content
  include ../elements/header/header.jade
  include ../elements/profile/profile.jade

block scripts
  script(src="//maps.googleapis.com/maps/api/js")
