extends ../elements/layout/layout.jade

block title
  title О хозяйстве | Профиль продавца | Ярмонка

block content
  include ../elements/header/header.jade
  include ../elements/profile/profile__manufacture.jade

block scripts
  script(src="//maps.googleapis.com/maps/api/js")