extends ../elements/layout/layout.jade

block title
  title Продать продукт. Успех | Ярмонка

block content
  include ../elements/header/header.jade
  include ../elements/sell/sell_success.jade

block scripts
  script(src="//maps.googleapis.com/maps/api/js")
