extends ../elements/layout/layout.jade

block title
  title Продать продукт. О хозяйстве | Ярмонка

block content
  include ../elements/header/header.jade
  include ../elements/sell/sell_manufacturer.jade

block scripts
  script(src="//maps.googleapis.com/maps/api/js")
