section.steps
  .steps__wrapper
    a.steps__link(href="#") Написать в «Ярмонку»
    h2.steps__title Как купить на «Ярмонке»
    ol.steps__list
      li.steps__step: p Звоните производителю и договаривайтесь о дней количестве.
      li.steps__step: p 9 из 10 производителей доставят товар в город. Некоторые — бесплатно.
      li.steps__step: p Если не знаете, что делать, или хотите оставить отзыв, скорее пишите нам!
    
