@import "../../helpers/*";

.products {
  margin: 0 0 100px;

  &__category {
    @mixin clear;
    margin: 0 0 30px
    }

  &__columns {
    @mixin clear;
    }

  &__sub-category {
    margin: 0 0 33px;
    width: 33%;
    width: calc(33% + 15px);
    float: left;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    min-height: 1px;
    &:last-child {
      padding: 0;
      width: 33%;
      width: calc(33% - 30px);
      }
    }

  &__wrapper {
    max-width: 1280px;
    padding: 0 20px;
    margin: auto;
    }

  &__header {
    margin: 40px 0 75px;
    border-bottom: 1px solid $grey-lightest;
    padding: 0 0 40px;
    }

  &__title {
    font-size: 74px;
    line-height: 100px;
    color: $brown;
    font-weight: bold;
    font-family: 'Geometria Bold', Helvetica, Arial, sans-serif;
    margin: 0 0 30px;
    }

  &__abstract {
    color: $brown;
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
    }

  &__type {
    color: $red;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    margin: 0 0 10px;
    a {
      color: $red;
      text-decoration: none;
      line-height: 28px;
      display: inline-block;
      &:hover {
        border-bottom: 1px solid color($red a(25%));
        }
      }
    }

  &__list {
    white-space: normal;
    }

  &__link {
    color: $grey;
    font-size: 16px;
    line-height: 35px;
    margin: 0 20px 0 0;
    display: inline-block;
    &:hover {
      text-decoration: none;
      }
    }

  &__subtitle {
    font-size: 44px;
    line-height: 60px;
    color: $brown;
    font-weight: bold;
    font-family: 'Geometria Bold', Helvetica, Arial, sans-serif;
    margin: 0 0 40px;
    a {
      text-decoration: none;
      line-height: 45px;
      display: inline-block;
      color: $brown;
      border-bottom: 1px solid color($brown a(15%));
      }
    }
  }
