section.products
  .products__wrapper
    header.products__header
      h2.products__title Все продукты
      p.products__abstract Весь ассортимент продукции, готовый к реализации нашим клиентам!
    
    section.products__category
      h3.products__subtitle: a(href="#") Мясо
      .products__columns
          
        section.products__sub-category
          h4.products__type: a(href="#") Домашние животные
          nav.prosucts__list 
            a.products__link(href="#") Говядина
            a.products__link(href="#") Свинина
            a.products__link(href="#") Баранина
            a.products__link(href="#") Конина
            a.products__link(href="#") Крольчатина
            a.products__link(href="#") Другое
        
        section.products__sub-category
          h4.products__type: a(href="#") Дикие животные
          nav.prosucts__list 
            a.products__link(href="#") Кабан 
            a.products__link(href="#") Медвежатина 
            a.products__link(href="#") Лосятина 
            a.products__link(href="#") Оленина 
            a.products__link(href="#") Зайчатина 
            a.products__link(href="#") Другое
        
        section.products__sub-category
          h4.products__type: a(href="#") Полуфабрикаты
          nav.prosucts__list 
            a.products__link(href="#") Натуральные 
            a.products__link(href="#") Рубленные 
            a.products__link(href="#") Фарш 
            a.products__link(href="#") Субпродукты
    
      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Деликатесы
          nav.prosucts__list 
            a.products__link(href="#") Копчености из свинины
            a.products__link(href="#") Копчености из говядины
            a.products__link(href="#") Вяленая говядина
            a.products__link(href="#") Изделия в желе

        section.products__sub-category
          h4.products__type: a(href="#") Колбасы
          nav.prosucts__list 
            a.products__link(href="#") Вареные 
            a.products__link(href="#") Варено-копченые 
            a.products__link(href="#") Полукопченые 
            a.products__link(href="#") Сырокопченые 
            a.products__link(href="#") Сыровяленые
            
        section.products__sub-category
          h4.products__type: a(href="#") Консервы
          nav.prosucts__list 
            a.products__link(href="#") Натуральные 
            a.products__link(href="#") В соусе 
            a.products__link(href="#") В масле 
            a.products__link(href="#") Паштеты и пасты 
            a.products__link(href="#") Мясоовощные 
            a.products__link(href="#") Диетические


    section.products__category
      h3.products__subtitle: a(href="#") Птица и яйцо
      
      .products__columns
        section.products__sub-category
          h4.products__type: a(href="#") Домашняя птица
          nav.prosucts__list 
            a.products__link(href="#") Куры
            a.products__link(href="#") Утки
            a.products__link(href="#") Гуси
            a.products__link(href="#") Индейки
            a.products__link(href="#") Цесарки
            a.products__link(href="#") Другое
            
        section.products__sub-category
          h4.products__type: a(href="#") Дичь
          nav.prosucts__list 
            a.products__link(href="#") Глухарь
            a.products__link(href="#") Куропатка
            a.products__link(href="#") Рябчик
            a.products__link(href="#") Тетерев
            a.products__link(href="#") Фазан
            a.products__link(href="#") Куропатка
            a.products__link(href="#") Индейка
            a.products__link(href="#") Перепел
            a.products__link(href="#") Гусь
            a.products__link(href="#") Утка
            a.products__link(href="#") Кулик
            a.products__link(href="#") Бекас
            
        section.products__sub-category
          h4.products__type: a(href="#") Субпродукты
          nav.prosucts__list 
            a.products__link(href="#") Сердце
            a.products__link(href="#") Желудок
            a.products__link(href="#") Печень
            a.products__link(href="#") Шейка
            a.products__link(href="#") Кылья
            a.products__link(href="#") Лапки, ноги
            a.products__link(href="#") Голова
            a.products__link(href="#") Другое
            
      .products__columns  
        section.products__sub-category
          h4.products__type: a(href="#") Яйца
          nav.prosucts__list 
            a.products__link(href="#") Гусиные
            a.products__link(href="#") Индюшиные
            a.products__link(href="#") Куриные
            a.products__link(href="#") Перепелиные
            a.products__link(href="#") Страусиные
            a.products__link(href="#") Утиные
            a.products__link(href="#") Цесариные
            a.products__link(href="#") Другое


    section.products__category
      h3.products__subtitle: a(href="#") Рыба
      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Искусственного разведения
          nav.prosucts__list 
            a.products__link(href="#") Зеркальный карп
            a.products__link(href="#") Телапия

        section.products__sub-category
          h4.products__type: a(href="#") Пресноводная рыба
          nav.prosucts__list 
            a.products__link(href="#") Карп
            a.products__link(href="#") Форель
            a.products__link(href="#") Стерлядь
            a.products__link(href="#") Нельма
            a.products__link(href="#") Муксун
            a.products__link(href="#") Хариус
            a.products__link(href="#") Таймень
            a.products__link(href="#") Линь
            a.products__link(href="#") Сом
            a.products__link(href="#") Толстолобик
            a.products__link(href="#") Окунь
            a.products__link(href="#") Сазан
            a.products__link(href="#") Щука
            a.products__link(href="#") Карась
            a.products__link(href="#") Лещь
            a.products__link(href="#") Плотва
            a.products__link(href="#") Другое
            
        section.products__sub-category
          h4.products__type: a(href="#") Проходная рыба
          nav.prosucts__list 
            a.products__link(href="#") Белуга
            a.products__link(href="#") Осетр
            a.products__link(href="#") Севрюга
            a.products__link(href="#") Другие осетровые
            a.products__link(href="#") Семга
            a.products__link(href="#") Кижуч
            a.products__link(href="#") Нерка
            a.products__link(href="#") Чавыча
            a.products__link(href="#") Кета
            a.products__link(href="#") Горбуша
            a.products__link(href="#") Другие лосесёвые
            a.products__link(href="#") Судак
            a.products__link(href="#") Вобла
            a.products__link(href="#") Другое

      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Морская рыба
          nav.prosucts__list 
            a.products__link(href="#") Гусиные
            a.products__link(href="#") Индюшиные
            a.products__link(href="#") Куриные
            a.products__link(href="#") Перепелиные
            a.products__link(href="#") Страусиные
            a.products__link(href="#") Утиные
            a.products__link(href="#") Цесариные
            a.products__link(href="#") Другое
            
        section.products__sub-category
          h4.products__type: a(href="#") Морепродукты
          nav.prosucts__list 
            a.products__link(href="#") Креветки
            a.products__link(href="#") Раки
            a.products__link(href="#") Крабы
            a.products__link(href="#") Омары
            a.products__link(href="#") Лангусты
            a.products__link(href="#") Кальмары
            a.products__link(href="#") Каракатицы
            a.products__link(href="#") Осьминоги
            a.products__link(href="#") Устрицы
            a.products__link(href="#") Мидии
            a.products__link(href="#") Гребешки
            a.products__link(href="#") Трепанги
            a.products__link(href="#") Морские ежи
            a.products__link(href="#") Водоросли
            a.products__link(href="#") Другое

        section.products__sub-category
          h4.products__type: a(href="#") Субпродукты
          nav.prosucts__list 
            a.products__link(href="#") Из рыбы
            a.products__link(href="#") Из морепродуктов
            
      .products__columns
      
        section.products__sub-category
          h4.products__type: a(href="#") Полуфабрикаты
          nav.prosucts__list 
            a.products__link(href="#") Из рыбы
            a.products__link(href="#") Из морепродуктов
            a.products__link(href="#") Из водорослей

        section.products__sub-category
          h4.products__type: a(href="#") Консервы
          nav.prosucts__list 
            a.products__link(href="#") Из рыбы
            a.products__link(href="#") Из морепродуктов
            a.products__link(href="#") Из водорослей
    

    section.products__category
      h3.products__subtitle: a(href="#") Молочное
            
      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Молоко
          nav.prosucts__list 
            a.products__link(href="#") Козье
            a.products__link(href="#") Коровье
            a.products__link(href="#") Другое
            
        section.products__sub-category
          h4.products__type: a(href="#") Сметана
          
        section.products__sub-category
          h4.products__type: a(href="#") Творог
          
      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Сыр
          nav.prosucts__list 
            a.products__link(href="#") Коровий
            a.products__link(href="#") Козий
            
        section.products__sub-category
          h4.products__type: a(href="#") Кисломолочные


    section.products__category
      h3.products__subtitle: a(href="#") Овощи и фрукты
            
      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Овощи
          nav.prosucts__list 
            a.products__link(href="#") Баклажаны
            a.products__link(href="#") Кабачки
            a.products__link(href="#") Капуста белокачанная
            a.products__link(href="#") Капуста брокколи
            a.products__link(href="#") Капуста цветная
            a.products__link(href="#") Картофель
            a.products__link(href="#") Кукуруза
            a.products__link(href="#") Лук репчатый
            a.products__link(href="#") Морковь
            a.products__link(href="#") Огурцы
            a.products__link(href="#") Патиссоны
            a.products__link(href="#") Перец
            a.products__link(href="#") Редис
            a.products__link(href="#") Редька
            a.products__link(href="#") Свёкла
            a.products__link(href="#") Томаты
            a.products__link(href="#") Тыква
            a.products__link(href="#") Хрен
            a.products__link(href="#") Чеснок
            
        section.products__sub-category
          h4.products__type: a(href="#") Бахчевые
          nav.prosucts__list 
            a.products__link(href="#") Арбузы
            a.products__link(href="#") Дыни
            a.products__link(href="#") Другое

        section.products__sub-category
          h4.products__type: a(href="#") Грибы
          nav.prosucts__list 
            a.products__link(href="#") Шампиньоны
            a.products__link(href="#") Вешенки
            a.products__link(href="#") Другое

      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Ягоды
          nav.prosucts__list 
            a.products__link(href="#") Виноград
            a.products__link(href="#") Вишня
            a.products__link(href="#") Земляника
            a.products__link(href="#") Клубника
            a.products__link(href="#") Крыжовник
            a.products__link(href="#") Малина
            a.products__link(href="#") Слива
            a.products__link(href="#") Смородина
            a.products__link(href="#") Черешня
            a.products__link(href="#") Другое
        
        section.products__sub-category
          h4.products__type: a(href="#") Фрукты
          nav.prosucts__list 
            a.products__link(href="#") Виноград
            a.products__link(href="#") Вишня
            a.products__link(href="#") Земляника
            a.products__link(href="#") Клубника
            a.products__link(href="#") Крыжовник
            a.products__link(href="#") Малина
            a.products__link(href="#") Слива
            a.products__link(href="#") Смородина
            a.products__link(href="#") Черешня
            a.products__link(href="#") Другое

        section.products__sub-category
          h4.products__type: a(href="#") Зелень и травы
          nav.prosucts__list 
            a.products__link(href="#") Артишок
            a.products__link(href="#") Спаржа
            a.products__link(href="#") Базилик
            a.products__link(href="#") Мангольд
            a.products__link(href="#") Петрушка
            a.products__link(href="#") Ревень
            a.products__link(href="#") Салат
            a.products__link(href="#") Сельдерей
            a.products__link(href="#") Стручковая фасоль
            a.products__link(href="#") Укроп
            a.products__link(href="#") Цикорий
            a.products__link(href="#") Черемша
            a.products__link(href="#") Шпинат
            a.products__link(href="#") Щавель
            a.products__link(href="#") Другое
            
      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Бобовые
          nav.prosucts__list 
            a.products__link(href="#") Горох
            a.products__link(href="#") Маш
            a.products__link(href="#") Нут
            a.products__link(href="#") Фасоль
            a.products__link(href="#") Чечевица
            a.products__link(href="#") Другое
            
        section.products__sub-category
          h4.products__type: a(href="#") Специи и пряности
          nav.prosucts__list 
            a.products__link(href="#") Анис
            a.products__link(href="#") Горчица
            a.products__link(href="#") Душица
            a.products__link(href="#") Имбирь
            a.products__link(href="#") Лавровый лист
            a.products__link(href="#") Любисток
            a.products__link(href="#") Майоран
            a.products__link(href="#") Мелисса
            a.products__link(href="#") Мята
            a.products__link(href="#") Перец острый, красный
            a.products__link(href="#") Перец черный
            a.products__link(href="#") Тмин
            a.products__link(href="#") Другое


    section.products__category
      h3.products__subtitle: a(href="#") Дикоросы
            
      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Грибы
          nav.prosucts__list 
            a.products__link(href="#") Белые грибы
            a.products__link(href="#") Боровики
            a.products__link(href="#") Вешенки
            a.products__link(href="#") Волнушки
            a.products__link(href="#") Грузди
            a.products__link(href="#") Лисички
            a.products__link(href="#") Маслята
            a.products__link(href="#") Моховики
            a.products__link(href="#") Опята
            a.products__link(href="#") Подберезовики
            a.products__link(href="#") Подосиновики
            a.products__link(href="#") Рыжики
            a.products__link(href="#") Сыроежки
            a.products__link(href="#") Трюфели
            a.products__link(href="#") Шампиньоны
            a.products__link(href="#") Шиитаке
            a.products__link(href="#") Другие
            
        section.products__sub-category
          h4.products__type: a(href="#") Орехи
          nav.prosucts__list 
            a.products__link(href="#") Арахис
            a.products__link(href="#") Грецкие
            a.products__link(href="#") Каштан
            a.products__link(href="#") Кедровые
            a.products__link(href="#") Миндаль
            a.products__link(href="#") Фундук
            a.products__link(href="#") Другие
            
        section.products__sub-category
          h4.products__type: a(href="#") Ягоды
          nav.prosucts__list 
            a.products__link(href="#") Барбарис
            a.products__link(href="#") Боярышник
            a.products__link(href="#") Брусника
            a.products__link(href="#") Голубика
            a.products__link(href="#") Ежевика
            a.products__link(href="#") Жимолость
            a.products__link(href="#") Земляника
            a.products__link(href="#") Игра
            a.products__link(href="#") Калина
            a.products__link(href="#") Клюква
            a.products__link(href="#") Костяника
            a.products__link(href="#") Морошка
            a.products__link(href="#") Облепиха
            a.products__link(href="#") Рябина
            a.products__link(href="#") Смородина
            a.products__link(href="#") Черемуха
            a.products__link(href="#") Черноплодная рябина
            a.products__link(href="#") Шелковица
            a.products__link(href="#") Шиповник
            a.products__link(href="#") Другое
            
            
      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Растения лечебные
          nav.prosucts__list 
            a.products__link(href="#") Аир
            a.products__link(href="#") Бессмертник
            a.products__link(href="#") Дявесил
            a.products__link(href="#") Зверобой
            a.products__link(href="#") Крапива
            a.products__link(href="#") Мать-и-мачеха
            a.products__link(href="#") Пастушья сумка
            a.products__link(href="#") Пижма
            a.products__link(href="#") Подорожник
            a.products__link(href="#") Пустырник
            a.products__link(href="#") Ромашка
            a.products__link(href="#") Тысячелистник
            a.products__link(href="#") Хвощ
            a.products__link(href="#") Череда
            a.products__link(href="#") Чистотел
            a.products__link(href="#") Шалфей
            a.products__link(href="#") Полынь
            a.products__link(href="#") Другое

        section.products__sub-category
          h4.products__type: a(href="#") Растения съедобные
          nav.prosucts__list 
            a.products__link(href="#") Иван-чай
            a.products__link(href="#") Крапива
            a.products__link(href="#") Липа
            a.products__link(href="#") Огуречная трава
            a.products__link(href="#") Одуванчик
            a.products__link(href="#") Папоротник
            a.products__link(href="#") Спаржа
            a.products__link(href="#") Цикорий
            a.products__link(href="#") Другое

        section.products__sub-category
          h4.products__type: a(href="#") Растения пряные
          nav.prosucts__list 
            a.products__link(href="#") Анис
            a.products__link(href="#") Душица
            a.products__link(href="#") Дягиль
            a.products__link(href="#") Исспо
            a.products__link(href="#") Кервель
            a.products__link(href="#") Кресс
            a.products__link(href="#") Лаванда
            a.products__link(href="#") Пажитник
            a.products__link(href="#") Тимьян
            a.products__link(href="#") Чабер
            a.products__link(href="#") Эстрагон
            a.products__link(href="#") Другое
            
      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Другие растения

    section.products__category
      h3.products__subtitle: a(href="#") Хлеб и выпечка
            
      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Хлеб
          nav.prosucts__list 
            a.products__link(href="#") Белый
            a.products__link(href="#") Черный

        section.products__sub-category
          h4.products__type: a(href="#") Выпечка
          
    section.products__category
      h3.products__subtitle: a(href="#") Напитки
      
    section.products__category
      h3.products__subtitle: a(href="#") Изделия
            
      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Народные промыслы
          
        section.products__sub-category
          h4.products__type: a(href="#") Сельхозтехника

        section.products__sub-category
          h4.products__type: a(href="#") Сельхозинвентарь
          
      .products__columns

        section.products__sub-category
          h4.products__type: a(href="#") Инструменты
          
        section.products__sub-category
          h4.products__type: a(href="#") Агрохимия

        section.products__sub-category
          h4.products__type: a(href="#") Стройматериалы
