@import "../../helpers/*"; /**/

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;

  .page {
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Roboto Regular", Helvetica, Arial, sans-serif;
    padding: 0 0 590px;
    position: relative;
    background: $crayon;
    .double {
      position: relative;
      }
    }
  }

.popedup {
  overflow: hidden;
  }

@media (max-width: 980px) {
  html {
    .page {
      padding: 0 0 712px;
    }
  }
}

@media (max-width: 640px) {
  html {
    .page {
      padding: 0;
    }
  }
}
