<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=1280px, user-scalable=no")

        block title
            title Ярмонка

        script(src="js/modernizr.js")
        link(rel="stylesheet", href="js/slick-carousel/slick/slick.css")
        link(rel="stylesheet", href="js/select2/dist/css/select2.min.css")
        link(rel="stylesheet", href="css/styles.css")

    body
        include ../../svg-sprite-tmp/icons.svg
        include ../mixins/mixins.jade
        
        .page
            block content
            include ../footer/footer.jade
            include ../popup/popup_alert.jade
            include ../popup/popup_recovery.jade
            include ../popup/popup_feedback.jade
            include ../popup/popup_ask.jade
            include ../popup/popup_register.jade
            include ../popup/popup_confirm.jade
            include ../popup/popup_lightbox.jade
            include ../popup/popup_like.jade
            include ../popup/popup_dislike.jade

        block prescripts
        block scripts

        script(src="js/promise-polyfill/Promise.min.js")
        script(src="js/es5-shim/es5-shim.min.js")
        script(src="js/es5-shim/es5-sham.min.js")
        script(src="js/classList.js/classList.min.js")
        script(src="js/Element.closest/closest.legacy.js")

        script(src="js/velocity/velocity.min.js")
        script(src="js/jquery/dist/jquery.min.js")
        script(src="js/plupload/js/plupload.full.min.js")
        script(src="js/isotope/dist/isotope.pkgd.min.js")
        script(src="js/isotope-packery/packery-mode.pkgd.min.js")
        script(src="js/infobox.js")
        script(src="js/slick-carousel/slick/slick.min.js")
        script(src="js/select2/dist/js/select2.min.js")
        script(src="js/select2/dist/js/i18n/ru.js")

        script(src="js/scripts.js", async, defer)