@import "../../helpers/*";

.sell {
  margin: 0 0 90px;
  @mixin clear;
  
  &__wrapper {
    max-width: 1280px;
    padding: 0 20px;
    margin: auto;
    }

  &__header {
    border-bottom: 2px solid $creyon-middler;
    padding: 42px 0 27px;
    margin: 0 0 60px;
    
    &_edit {
      border-bottom-style: none;
      background: $white;
      }
    }

  &__title {
    font-size: 75px;
    line-height: 100px;
    font-weight: bold;
    font-family: 'Geometria Bold', Helvetica, Arial, sans-serif;
    color: $brown;
    margin: 0 0 20px;
    }

  &__new {
    @mixin red_button;
    padding: 0 40px;
    }

  &__abstract {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: $brown;

    a {
      color: $red;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        }
      }
    }
  }