section.sell.sell_edit
  header.sell__header.sell__header_edit
    .sell__wrapper
      include ../breadcrumbs/breadcrumbs_edit.jade
      h2.sell__title Редактирование объявления
      p.sell__abstract Вы редактируете объявление 
        a(href="#") «Козье молоко от «Петровской». Каждый день вкусное»

  .sell__wrapper
    include ../hints/hints.jade
    include ../form/form_item_edit.jade
  