section.sell
  .sell__wrapper
    header.sell__header
      h2.sell__title Успех!
      p.sell__abstract Объявление 
        a(href="#") «Козье молоко от „Петровской“ каждый день вкусное»
        |  опубликовано!
    
    include ../hints/hints.jade
    
    a.sell__new(href="#") Подать новое объявление
    
  