section.sell
  .sell__wrapper
    header.sell__header
      h2.sell__title Продать товар
      p.sell__abstract Чтобы опубликовать объявление, войдите на сайт, опишите товар и расскажите о себе.
    include ../sell_steps/sell_steps.jade
    +steps(3)

    include ../hints/hints.jade
    include ../form/form_manufacturer.jade