$black: #000;
$white:  #fff;

$brown: #38342e;
$brown-light: #5c5546;
$brown-middle: #4b4130;
$brown-dark: #847d6e;
$brown-lighter: #413d36;
$brown-middler: #e9e5d6;

$crayon-dark: #e6e2d3;
$crayon-lighter: #615e53;
$crayon-darker: #d9d5c5;

$yellow: #ffc600;
$yellow-dark: #f5c502;
$yellow-light: #ffcc00;

$light: #d2cebf;

$crayon: #f2eede;
$crayon-light: #f5f1e5;
$creyon-middle: #aba89e;
$creyon-middler: #e6e2d2;

$red: #ff4924;
$pink: #fff8f6;
$orange: #f7bd42;

$grey: #4b4b4b;
$grey-middle: #343434;
$grey-light: #d7d7d7;
$grey-lightest: #dfdbcc;
$grey-semi: #c0bcb6;

$white-darker: #f2f2f2;
