@import "../../helpers/colors.css";

@define-mixin clear {
  &:after{
    content: ".";
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
    }
  }

@define-mixin textinput {
  all: unset;
  border-style: none;
  box-shadow: none;
  height: 55px;
  width: 330px;
  background: $white;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0 20px;
  line-height: 55px;
  font-size: 16px;
  box-sizing: border-box;
  color: $grey;
  }

@define-mixin radio {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  }

@define-mixin radiosetup {
  &__radio {
    @mixin radio;
    margin: 0 0 5px;
    &-group {
      @mixin radiogroup;
      &_list {
        width: 480px;
        div {
          display: block;
          }
        input:checked + label {
          color: $grey;
          }
        label {
          display: block;
          white-space: nowrap;
          color: color($grey a(40%));
          }
        }
      &_three {
        width: 760px;
        }
      }
    &-label {
      cursor: pointer;
      position: relative;
      display: block;
      font-size: 16px;
      line-height: 30px;
      color: $grey;
      &:after {
        content: "";
        font-size: 0;
        width: 21px;
        height: 16px;
        background: url('../images/checkbox.svg') 0 0 no-repeat;
        position: absolute;
        left: 3px;
        top: 50%;
        margin: -12px 0 0;
        display: block;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        z-index: 1;
        visibility: hidden;
        }
      &:hover:before {
        background: $white;
        }
      &:before {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        position: relative;
        top: -2px;
        margin: 0 15px 0 0;
        transition: background-color .25s;
        background: $crayon-darker;
        border-radius: 3px;
        content: "";
        }
      }
    &-input {
      position: absolute;
      left: -999px;
      opacity: 0;
      &:checked + label {
        &:before {
          background: $white;
          }
        &:after {
          visibility: visible;
          }
        }
      }
    }
  }

@define-mixin radiogroup {
  border: 2px solid $crayon-dark;
  display: inline-block;
  line-height: 30px;
  padding: 17px 23px;
  font-size: 0;
  margin: 0 30px 0 0;
  float: left;
  }

@define-mixin textarea {
  all: unset;
  box-shadow: none;
  height: 215px;
  width: 330px;
  background: $white;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 20px;
  line-height: 25px;
  font-size: 16px;
  box-sizing: border-box;
  color: $grey;
  font-family: "Roboto Light", Helvetica, Arial, sans-serif;
  font-weight: 200;
  appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0px none transparent;
  zoom: 1;
  border: none;
  border-style: none;
  border-color: transparent; 
  overflow: auto;
  resize: none;
  &:focus,
  &:hover {
    zoom: 1;
    outline: none;
    box-shadow: none;
    border-style: none;
    border-color: transparent; 
    overflow: auto;
    }
  }

@define-mixin clear_input {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-style: none;
  font-family: "Roboto Light", Helvetica, Arial, sans-serif;
  font-weight: 200;
  background: none;
  box-shadow: none;
  outline: none;
}

@define-mixin clear_button {
  text-decoration: none;
  background: none;
  border-style: none;
  border-style: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  overflow: visible;
  display: inline-block;
  font-family: "Roboto Regular", Helvetica, Arial, sans-serif;
  text-align: left;
  vertical-align: middle;
  border-radius: 0;
  &::-moz-focus-inner {
    padding: 0;
    border: 0
    }
  }

@define-mixin pink_button {
  @mixin clear_button;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  height: 49px;
  line-height: 49px;
  text-align: center;
  padding: 0 25px 0 56px;
  border: 2px solid $red;
  box-sizing: border-box;
  color: $red;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  }

@define-mixin red_button {
  @mixin clear_button;
  cursor: pointer;
  text-decoration: none;
  height: 70px;
  line-height: 70px;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: $red;
  color: $white;
  font-size: 20px;
  font-weight: bold;
  transition: background-color $duration;
  &:hover {
    background-color: color($red l(-10%));
    }
  }

@define-mixin tag {
  height: 36px;
  line-height: 36px;
  color: $white;
  background: $orange;
  padding: 0 20px 0 17px;
  position: relative;
  margin: 0 0 25px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;

  &:after {
    content: "";
    display: inline-block;
    border-width: 18px 10px 18px 0;
    border-color: transparent $white transparent transparent;
    border-style: solid solid solid none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    }
  }

@define-mixin title {
  white-space: nowrap;
  height: 110px;
  padding: 20px 20px 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 44px;
  line-height: 60px;
  font-weight: bold;
  font-family: 'Geometria Bold', sans-serif;
  margin: 0;
  color: $brown-middle;
  background-position: 50% 0;
  background-repeat: no-repeat;
  @media (max-width: 799px) {
    white-space: normal;
    line-height: 56px;
    background: none;
    height: auto;
    padding: 0;
    }
  }
