dl.facts
  dt.facts__fact-name: b Производитель
  dd.facts__fact-value: b 
    a(href="#") Усадьба «Петровская»
  dt.facts__fact-name: b Время работы
  dd.facts__fact-value: b С 6:00 до 24:00, пн—вск
  dt.facts__fact-name: b Контактное лицо
  dd.facts__fact-value: b 102 труженика
  dt.facts__fact-name: b Телефон
  dd.facts__fact-value: b
    a.facts__tel(href="+79111112233") +7 (911) 111 22 33
