dl.facts
  dt.facts__fact-name: b История
  dd.facts__fact-value: b с 2007 года
  dt.facts__fact-name: b Масштаб
  dd.facts__fact-value: b 200 Га, 55 голов
  dt.facts__fact-name: b Сотрудники
  dd.facts__fact-value: b 102 труженика
  dt.facts__fact-name: b Категории
  dd.facts__fact-value: b
    a.facts__category(href="#") Птица и яйцо,
    | 
    a.facts__category(href="#") Овощи и фрукты
