dl.facts.facts_order
  dt.facts__fact-name: b Контактное лицо
  dd.facts__fact-value: b Фёдор Михалков
  dt.facts__fact-name: b Телефон
  dd.facts__fact-value: b
    a.facts__tel(href="+79111112233") +7 (911) 111 22 33
