@import "../../helpers/*";

.facts {
  @mixin clear;
  line-height: 36px;
  font-size: 18px;
  margin: 0 0 70px;
  overflow: hidden;
  
  &_order {
    overflow: visible;
    background: $brown-middler;
    position: relative;
    padding: 20px 30px;
    display: none;
    margin: 0 0 10px;
    &.facts_visible {
      display: block;
      }
    &:after {
      content: "";
      display: block;
      height: 0;
      width: 0;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      position: absolute;
      bottom: 100%;
      left: 66.66%;
      margin: 0 0 0 85px;
      border-color: transparent transparent $brown-middler;
      border-style: solid;
      border-width: 0 10px 10px;
      }

      .facts {
        &__fact{
          &-name {
            box-shadow: inset 0 -9px 0 0 $brown-middler, inset 0 -10px 0 0 color($brown a(15%));
            }
          &-value ,
          &-name {
            b {
              background-color: $brown-middler;
            }
          }
        }
      }
    }

  &__fact {

    &-name {
      white-space: nowrap;
      clear: left;
      float: left;
      color: $grey;
      width: 170px;
      box-shadow: inset 0 -9px 0 0 $white, inset 0 -10px 0 0 color($brown a(15%));
      margin: 0 0 10px;
      b {
        display: inline-block;
        background: $white;
        padding: 0 4px 0 0;
        }
      }

    &-value {
      min-width: 205px;
      font-weight: bold;
      color: $grey;
      margin: 0 0 10px;
      a {
        color: $red;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
          }

        &.facts__tel {
          color: $grey;
          }
        }

      b {
        display: inline-block;
        padding: 0 0 0 4px;
        background: $white;
        }

      }
    }

  &__tel {
    color: $grey;
    }
}
