dl.facts
  dt.facts__fact-name: b Производитель
  dd.facts__fact-value: b 
    a(href="#") Усадьба «Петровская»
  dt.facts__fact-name: b Время работы
  dd.facts__fact-value: b С 6:00 до 24:00, пн—вск
