section.farmer
  .farmer__wrapper
    h2.farmer__title Что говорят русские фермеры
    img.farmer__photo(src="images/farmer.jpg", alt="Фото фермера") 
    blockquote.farmer__cite 
      p.farmer__cite-text Наше поголовье буренок принадлежат к голштинизированной чёрно-пестрой породе, считающейся одной из лучших среди производителей молочной продукции. Каждая корова получает не только идентификационный номер, но и имя. У нас в стаде есть Эсмеральда, Беседка, Апрелька, Ряженка и много других красавиц. Наше поголовье.
      footer.farmer__cite-footer
        cite.farmer__cite-author Фёдор Михалков, 
          a(href="#") Усадьба «Петровская»
