@import "../../helpers/*";

.question {
  &__link{
    padding: 15px 20px 15px 50px;
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 25px;
    color: $brown;
    text-decoration: none;
    &:hover {
      background: $brown;
      color: $white;
      &:before {
        color: $yellow-light;
        }
      }
    &:before {
      counter-increment: questions;
      content: counter(questions) ". ";
      color: $light;
      font-weight: 200;
      position: absolute;
      left: 16px;
      top: 12px;
      }
    }
  }
