section.stores
  h2.stores__title Где купить продукты
  p.stores__abstract Профили производителей, описания, продукты, явки и пароли у нас — находите лучших близко к дому.
  section.stores__wrapper(data-url="js/stores.json")
    .stores__map
