form.order-create(action="/order/create/", method="post")
  h2.order-create__title Вы оформляете первый заказ

  fieldset.order-create__field
    label.order-create__label(for="order-create__category") Категория
    select#order-create__category.order-create__select(name="category", placeholder="Категория", required="required")
      option Молочные продукты
      option Овощи
      option Фрукты
      option Мясо
      option Малоросы

  fieldset.order-create__field
    label.order-create__label(for="order-create__title") Название
    input#order-create__title.order-create__input.order-create__input_wide(type="text", name="title", placeholder="Домашний сыр с петрушкой", required="required", maxlength="50")
    .order-create__hint 
      p Заголовок до 50 знаков. Проверяйте текст — с опечатками искать труднее.

  fieldset.order-create__field-group
    
    fieldset.order-create__field
      label.order-create__label(for="order-create__volume") Объем
      input#order-create__volume.order-create__input.order-create__input_short(type="text", name="title", placeholder="56", required="required")
    
    fieldset.order-create__field
      label.order-create__label(for="order-create__title") За единицу измерения
      select#order-create__category.order-create__select(name="category", placeholder="За единицу измерения", required="required")
        option Центнер
        option Килограмм
        option Грамм
        option Миллиграмм

  fieldset.order-create__field
    label.order-create__label(for="order-create__frequency") Частота
    select#order-create__frequency.order-create__select(name="frequency", placeholder="Частота", required="required")
      option 1 раз в неделю
      option 2 раза в неделю
      option 3 раза в неделю
      option 4 раза в неделю
      option 5 раз в неделю
      option 6 раз в неделю
      option 7 раз в неделю
      option по договорённости
    .order-create__hint 
      p Если в списке нет подходящего варианта, выберите «по договорённости» — детали обсудите с продавцом.

  fieldset.order-create__field
    h3.order-create__label Способ получения
    .order-create__radio-group
      .order-create__radio
        input#order-create__delivery.order-create__radio-input(type="radio", name="delivery", value="delivery", checked="checked")
        label.order-create__radio-label(for="order-create__delivery") Доставка
      .order-create__radio
        input#order-create__self.order-create__radio-input(type="radio", name="delivery", value="self")
        label.order-create__radio-label(for="order-create__self") Самовывоз

  fieldset.order-create__field
    label.order-create__label(for="order-create__abstract") Описание

    textarea#order-create__abstract.order-create__textarea(cols="80", rows="10", name="abstract", required="required", maxlength="240")
    .order-create__hint 
      p Расскажите продавцу о деталях: в каком виде вам нужен товар, с какой строгостью доставки, в каких условиях он будет работать.
      p У вас есть 240 знаков, чтобы описать подробности.

  menu.order-create__menu
    button.order-create__publish(type="submit") Опубликовать
    button.order-create__reset(type="reset") Очистить форму