.sliders.sliders_item
  .sliders__slider.sliders__slider_view
    .sliders__photo.sliders__photo_view
      img(src="images/pic-1.jpg", alt="Фото")
    .sliders__photo.sliders__photo_view
      img(src="images/pic-2.jpg", alt="Фото")
    .sliders__photo.sliders__photo_view
      img(src="images/pic-3.jpg", alt="Фото")
    .sliders__photo.sliders__photo_view
      img(src="images/pic-4.jpg", alt="Фото")
    
  .sliders__slider.sliders__slider_preview
    .sliders__photo.sliders__photo_preview
      img(src="images/pic-1.jpg", alt="Фото")
    .sliders__photo.sliders__photo_preview
      img(src="images/pic-2.jpg", alt="Фото")
    .sliders__photo.sliders__photo_preview
      img(src="images/pic-3.jpg", alt="Фото")
    .sliders__photo.sliders__photo_preview
      img(src="images/pic-4.jpg", alt="Фото")
