mixin steps(number)
  ol.sell-steps
    li.sell-steps__step(class= (number == 1) ? "sell-steps__step_current" : "")
      h2.sell-steps__step-number Шаг 1.
      p.sell-steps__step-title Вход на сайт
    li.sell-steps__step(class= (number == 2) ? "sell-steps__step_current" : "")
        h2.sell-steps__step-number Шаг 2.
        p.sell-steps__step-title О товаре
    li.sell-steps__step(class= (number == 3) ? "sell-steps__step_current" : "")
      h2.sell-steps__step-number Шаг 3.
      p.sell-steps__step-title О хозяйстве
    li.sell-steps__step(class= (number == 4) ? "sell-steps__step_current" : "")
        h2.sell-steps__step-number Шаг 4.
        p.sell-steps__step-title Контакты