@import "../../helpers/*";

.sell-steps {
  margin: -62px 0 60px;
  font-size: 0;
  counter-reset: ssteps;
  
  &__step {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    box-sizing: border-box;
    border-top: 2px solid color($brown a(15%));
    padding: 30px 0 0 95px;
    position: relative;
    
    &:before {
      counter-increment: ssteps;
      content: counter(ssteps);
      font-size: 60px;
      line-height: 64px;
      font-family: 'Geometria Extra Light';
      font-weight: 100;
      position: absolute;
      top: 24px;
      left: 40px;
      color: $brown-light;
      }

    &:first-child {
      padding: 30px 0 0 40px;
      &:before {
        left: 0;
        }
      }
    
    &_current {
      border-top-color: $red;
      &:before {
        color: $red;
        }
      }

    &-number {
      color: $brown;
      font-size: 16px;
      line-height: 25px;
      font-weight: 200;
      }

    &-title {
      color: $brown;
      font-size: 18px;
      line-height: 25px;
      font-weight: 500;
      }
    }
  }