section.team
  .team__wrapper
    h2.team__title Создатели и команда сервиса
    section.team__list
      include ../people/people-1.jade
      include ../people/people-2.jade
      include ../people/people-3.jade
    p.team__abstract Пока мы тестируем сервис для покупателей, просим рассказать о впечатлениях. Если вам понятно не всё, видно не до конца или совсем неудобно обращаться с функциями, пожалуйста, напишите — это будет большим вкладом.
    a.team__contact(href="#") Написать в «Ярмонку»
