@import "../../helpers/*";

.sell-auth {
  
  @mixin clear;
  @mixin radiosetup;
  position: relative;
  overflow: hidden;
  
  &__menu {
    margin-top: 40px;
    }
  
  &__socials {
    display: block;
    margin: 44px 0 50px;
    @mixin clear;
    }
  
  &__social-icon {
    width: 55px;
    height: 55px;  
    vertical-align: middle;
    margin: 0 15px 0 0;
    position: relative;
    z-index: 2;
    fill: $grey-lightest;
    transition: fill .25s;
    }

  &__social {
    line-height: 55px;
    height: 55px;
    white-space: nowrap;
    float: left;
    clear: left;
    margin: 0 0 20px;
    font-size: 16px;
    color: $brown;
    text-decoration: none;
    position: relative;
    
    &:hover {
      .sell-auth__social-icon {
        fill: $red;
        }
      }
    
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      height: 45px;
      width: 45px;
      background: $white;
      z-index: 1;
      border-radius: 100%;
      }
    }
  
  &__field-group {
    float: left;
    padding-left: 90px;
    max-width: 395px;
    border-left: 2px solid $creyon-middler;
    margin-left: -2px;
    &_main {
      padding-left: 0;
      width: 422px;
      max-width: none;
      border-right: 2px solid $creyon-middler;
      @mixin clear;
      }
    }
  
  &__login {
    @mixin red_button;
    margin: 0 40px 0 0;
    width: 155px;
    }

  &__by-mail,
  &__recovery {
    @mixin clear_button;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    color: $brown;
    border-bottom: 1px dotted $brown;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      border-bottom-color: transparent;
      }
    }

  &__title {
    line-height: 70px;
    font-size: 44px;
    margin: 0 0 35px;
    font-weight: bold;
    color: $brown;
    }

  &__sub-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    font-family: 'Geometria Bold';
    color: $brown;
    margin: 0 0 34px;
    }

  &__label {
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: $brown;
    margin: 0 0 10px;
    }
  
  &__field {
    @mixin clear;  
    margin: 0 0 30px;
    
    &-group {
      .order-create__field{
        float: left;
        }
      }
    }

  &__hint {
    color: $creyon-middle;
    font-size: 16px;
    line-height: 25px;
    p {
      margin: 0 0 25px;
      }
    }

  &__input {
    @mixin textinput;
    width: 250px;
    float: left;
    margin: 0 30px 0 0;
    &_short {
      width: 180px;
      }
    &_middle {
      width: 330px;
      }
    &_wide {
      width: 530px;
      }
    }

  .select2 {
    float: left;
    margin: 0 30px 0 0;
    }

  &__select {
    float: left;
    width: 250px;
    margin: 0 30px 0 0;
    }

  &__textarea {
    @mixin textarea;
    width: 530px;
    margin: 0 30px 0 0;
    float: left;
    }
  }