section.orders.orders_my
  .orders__wrapper
    header.orders__header
      
      h2.orders__title Мои заказы  
      a.orders__add(href="#"): b Добавить продукт
      
      .orders__abstract 
        p Страница с вашими заказами.
        p Пополняйте список, делитесь с производителями, получайте звонки.
        time.orders__updated(datetime="2015-06-15") Последнее обновление: 15 июля 2015

    include ../hints/hints_mixin.jade
    +hints('my-orders')

    .orders__list
      include ../order/order-my-1.jade
      include ../order/order-my-2.jade

      a.orders__add.orders__add_main(href="#"): b Добавить продукт
