section.orders
  .orders__wrapper
    header.orders__header
      
      h2.orders__title Заказы
      
      .orders__checkout-wrapper
        a.orders__checkout(href="#") Оформить заказ
        small.orders__hint Назовите продукт, укажите объём, частоту и способ доставки. На всё — 5 минут, а затем ждать звонка.
      
      .orders__abstract 
        p Мы разработали тестовый сервис для регулярных покупок на «Ярмонке». Публикуйте заказы и получайте звонки от продавцов. Мы считаем, что не ездить за продуктами в магазин раз в неделю — это нормально.
        ol 
          li Заказывайте много
          li Получайте скидки за количество
          li Принимайте продукты регулярно

      .orders__map
        .orders__map-column
          a.orders__map-link(href="#") Все продукты
          a.orders__map-link.orders__map-link_selected(href="#") Птица и яйцо
          a.orders__map-link(href="#") Молочные продукты
        .orders__map-column
          a.orders__map-link.orders__map-link_selected(href="#") Дикоросы
          a.orders__map-link(href="#") Напитки
          a.orders__map-link(href="#") Мясо
        .orders__map-column
          a.orders__map-link(href="#") Рыба
          a.orders__map-link(href="#") Овощи и фрукты
          a.orders__map-link.orders__map-link_selected(href="#") Хлеб и выпечка
        .orders__map-column
          a.orders__map-link(href="#") Напитки
          a.orders__map-link(href="#") Изделия


    include ../sort/sort_orders.jade
    
    include ../hints/hints_mixin.jade
    +hints('orders')

    .orders__list
      include ../order/order-1.jade
      include ../order/order-2.jade
