section.orders.orders_my
  .orders__wrapper
    header.orders__header
      
      h2.orders__title Мои заказы  
      
      .orders__abstract 
        p Страница для заказа продуктов. Пополняйте список, делитесь с производителями, получайте звонки.

    include ../hints/hints.jade
    include ../order_create/order_create.jade
    

      
