section.hints
  h2.hints__title Полезные подсказки
  p.hints__hint Если вы уже зарегистрированы, вам повезло — не придётся заполнять профайл!
  p.hints__hint Регистрироваться через социальные сети быстрее. Даже пароль помнить не нужно.
  p.hints__hint Хотите по старому? — регистрируйтесь через электронную почту, мы не против.
  a.hints__contact-us(href="#"): b Написать в «Ярмонку»
