mixin hints(modifier)
  section.hints(class="hints_" + modifier)
    h2.hints__title Как купить на «Ярмонке»
    p.hints__hint Звоните автору объявления и договаривайтесь о дне встречи и количестве товара.
    p.hints__hint 9 из 10 производителей доставят товар в город. Некоторые — бесплатно.
    p.hints__hint Не знаете, что делать, пишите нам — быстро оформим заказ вместе!
    a.hints__contact-us(href="#"): b Написать в «Ярмонку»
