article.company
  a.company__link(href="#")
    img.company__photo(src="images/mads3.jpg", alt="Фотография")
    h2.company__title Простая молочная фабрика
    address.company__address Москва, Павловское шоссе, 20 км, 5 съезд 11:00 – 23:00, каждый день
  nav.company__tags
    a.company__tag(href="#") овощи и фрукты
    a.company__tag(href="#") дикоросы
    a.company__tag(href="#") выпечка
