section.itemview
  .itemview__wrapper
    include ../breadcrumbs/breadcrumbs.jade
    
    h2.itemview__title Козье молоко от «Петровской». Каждый день вкусное
    
    include ../sliders/sliders_item.jade
    
    .itemview__brief
      
      .itemview__prices
        p.itemview__price
          b 201 
          span.rub ₽
          | /кг
        p.itemview__discount
          b 190 
          span.rub ₽
          | / от 50 литров
      
      ul.itemview__features
        li.itemview__feature.itemview__feature_anytime Самовывоз круглосуточно
        li.itemview__feature.itemview__feature_delivery Бесплатная доставка от 10 кг
        li.itemview__feature.itemview__feature_cash Оплата наличными
        
      menu.itemview__actions
        button.itemview__bookmark(type="button") Добавить в закладки
    
    menu.itemview__social
      h3.itemview__sub-title Поделиться:
      button.itemview__social-button
        +icon('vk', 'itemview__social-icon')
      button.itemview__social-button
        +icon('fb', 'itemview__social-icon')
      button.itemview__social-button
        +icon('ok', 'itemview__social-icon')
    
    .itemview__details
      time.itemview__time(datetime="2015-06-15") На сайте с 15 июля 2015
      p.itemview__abstract Широко распространился миф, в соответствии с которым Джеймс Кук, прибыв в Австралию и увидев крупное, пере-двигающееся прыжками, незнакомое ему животное, обратился к одному из аборигенов с вопросом что это, однако тот, не понимая речи Кука, ответил ему на своём родном языке: «не понимаю»
      
      include ../facts/facts_item.jade
    
    
