.contacts
  .contacts__wrapper
    h2.contacts__title.contacts__title_short Как добраться до производителя
    sections.contacts__apps.contacts__apps_short
      h2.contacts__sub-title Открыть карту в приложении:
      nav.contacts__app-list.contacts__app-list_short
        a(href="#").contacts__app.contacts__app_google Google Maps
        a(href="#").contacts__app.contacts__app_yandex Google Яндекс. Карты
        a(href="#").contacts__app.contacts__app_yandex-navigator Яндекс. Навигатор
