.contacts
  .contacts__wrapper
    h2.contacts__title Как связаться, как проехать
    
    dl.contacts__information
      dt.contacts__information-title: b Время работы
      dd.contacts__information-value: b С 6:00 до 24:00, пн—вс
      
      dt.contacts__information-title: b Контактное лицо
      dd.contacts__information-value: b Фёдор Михалков
      
      dt.contacts__information-title: b Телефон
      dd.contacts__information-value: b 
        a(href="tel:+79111112233") +7 (911) 111 22 33
      
      dt.contacts__information-title: b Почта
      dd.contacts__information-value: b
        a(href="mailto:mikhalkov@mail.ru") mikhalkov@mail.ru

      dt.contacts__information-title: b Скайп
      dd.contacts__information-value: b
        a(href="skype:fedor_mikhalkov?call") fedor_mikhalkov
    
    section.contacts__details
    
      section.contacts__instructions
        p Двигайтесь по Павловскому шоссе, доезжайте до 20 км, на следующем перекрёстке поворачивайте направо, в лес. Через 1 км поверните направо ещё раз. Через 300 м увидите табличку «Усадьба Петровская». Через 20 м после неё высокие ворота. Вы приехали. Звоните — мы вас встретим.
      nav.contacts__links
        a.contacts__link(href="#") Посмотреть на Google Maps
        a.contacts__link(href="#") Посмотреть на Яндекс Картах