footer.footer
  .footer__wrapper
    nav.footer__navigation
      a.footer__link(href="#") Мясо
      a.footer__link(href="#") Птица и яйцо
      a.footer__link(href="#") Рыба
      a.footer__link(href="#") Молочное
      a.footer__link(href="#") Овощи и фрукты
    nav.footer__navigation
      a.footer__link(href="#") Дикоросы
      a.footer__link(href="#") Хлеб и выпечка
      a.footer__link(href="#") Напитки
      a.footer__link(href="#") Изделия
      a.footer__link(href="#") Весь каталог
    nav.footer__navigation
      a.footer__link(href="#") Производителю
      a.footer__link(href="#") Как купить
      a.footer__link(href="#") Как продать
      a.footer__link(href="#") О проекте
    .footer__conacts
      a.footer__email(href="mailto:hello@yarmonka.ru") hello@yarmonka.ru
      a.footer__tel(href="tel:+78001112233") 8 (800) 111 22 33
    p.footer__copyright 2015 © «Ярмонка»
    p.footer__developed-by Разработка сайта — 
      a.footer__developed-logotype(href="http://www.nimax.ru/") NIMAX
      
