@import "../../helpers/*";

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $brown;

  &__wrapper {
    padding: 100px 20px;
    height: 390px;
    max-width: 1280px;
    margin: auto;
    @mixin clear;
    }

  &__navigation {
    font-size: 18px;
    line-height: 48px;
    width: 300px;
    float: left;
    margin: 0 30px 115px 0;
    @mixin clear;
    }

  &__link {
    color: $white;
    text-decoration: none;
    float: left;
    clear: both;
    font-weight: 200;

    &:hover {
      text-decoration: underline;
      }
    }

  &__conacts {
    float: right;
    margin: 0 0 115px 0;
    font-size: 18px;
    line-height: 48px;
    position: relative;
    top: -4px;
    }

  &__copyright {
    float: left;
    clear: left;
    font-weight: 200;
    font-size: 14px;
    line-height: 36px;
    color: color($white a(60%));
    }

  &__email,
  &__tel {
    float: left;
    clear: left;
    text-decoration: none;
    color: $yellow;
    font-size: 18px;
    line-height: 58px;
    font-weight: 500;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      margin: 0 20px;
      overflow: hidden;
      font-size: 0;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      }

    &:hover {
      text-decoration: underline;
      }
    }

  &__tel {

    &:before {
      background-image: url('../images/footer__tel.svg');
      }
    }

  &__email {

    &:before {
      background-image: url('../images/footer__email.svg');
      }
    }

  &__developed{

    &-by {
      font-weight: 200;
      font-size: 14px;
      line-height: 36px;
      color: color($white a(60%));
      float: right;
      clear: right;
      }

    &-logotype {
      display: inline-block;
      width: 80px;
      height: 30px;
      overflow: hidden;
      vertical-align: middle;
      font-style: 0;
      position: relative;
      top: -8px;
      color: color($white a(0%));
      background: url('../images/nimax__logotype.svg') 50% 50% no-repeat;
      }
    }
  }


@media (max-width: 1260px) and (min-width: 981px) {
  .footer {
    &__navigation {
      width: 25%;
      margin: 0 0 115px;
      padding: 0 30px 0 0;
      box-sizing: border-box;
      }
    &__conacts {
      max-width: 25%;
      }
    }
  }

@media (max-width: 980px) and (min-width: 641px) {
  .footer {
    &__navigation {
      width: 33.33%;
      margin: 0;
      padding: 0 30px 0 0;
      box-sizing: border-box;
      }
    &__wrapper {
      height: auto;
      }
    &__conacts {
      float: right;
      clear: both;
      width: auto;
      margin: 60px 0;
      }
    &__copyright {
      clear: both;
      }
    }
  }


@media (max-width: 640px) {
  .footer {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    &__wrapper {
      height: auto;
      padding: 20px;
      column-width: 200px;
      }
    &__navigation {
      width: auto;
      float: none;
      margin: 0;
      font-size: 12px;
      line-height: 24px;
    }
    &__tel,
    &__email {
      font-size: 12px;
      line-height: 24px;
      &:before {
        display: none;
        }
      }
    &__conacts {
      float: none;
      width: auto;
      margin: 20px 0;
      clear: none;
      top: auto;
      @mixin clear;
    }
    &__copyright {
      clear: both;
      font-size: 12px;
      line-height: 24px;
      float: none;
    }
    &__developed-by {
      font-size: 12px;
      line-height: 24px;
      float: none;
    }
  }
}
