a.item(href="#")
  img.item__photo(src="images/item-1.png", alt="Фотография")
  h3.item__title Свежайшая картошка, 
    br
    |  лучше чем в Беларуси!
  time.item__date(datetime="2015-06-15Z") 15 июля 2015
  p.item__price
    b 250 
    span.rub ₽
    |  / кг

a.item(href="#")
  img.item__photo(src="images/item-2.png", alt="Фотография")
  h3.item__title Молоко счастливой коровы. 
    br
    |  Каждый день вкусное
  time.item__date(datetime="2015-06-15Z") 15 июля 2015
  p.item__price
    b 130 
    span.rub ₽
    |  / кг
    
a.item(href="#")
  img.item__photo(src="images/item-3.png", alt="Фотография")
  h3.item__title Отличные томаты.
    br
    |  Сорт «бычье сердце»
  time.item__date(datetime="2015-06-15Z") 15 июля 2015
  p.item__price
    b 310 
    span.rub ₽
    |  / кг
    
a.item(href="#")
  img.item__photo(src="images/item-4.png", alt="Фотография")
  h3.item__title Идеальный свежий творог.
    br
    |  Жирность 7%
  time.item__date(datetime="2015-06-15Z") 15 июля 2015
  p.item__price
    b 56 
    span.rub ₽
    |  / кг
    
a.item(href="#")
  img.item__photo(src="images/item-5.png", alt="Фотография")
  h3.item__title Молоко счастливой коровы.
    br
    |  Каждый день вкусное
  time.item__date(datetime="2015-06-15Z") 15 июля 2015
  p.item__price
    b 45 
    span.rub ₽
    |  / кг
    
a.item(href="#")
  img.item__photo(src="images/item-6.png", alt="Фотография")
  h3.item__title Молоко счастливой коровы.
    br
    |  Каждый день вкусное
  time.item__date(datetime="2015-06-15Z") 15 июля 2015
  p.item__price
    b 360 
    span.rub ₽
    |  / кг
    
a.item(href="#")
  img.item__photo(src="images/item-7.png", alt="Фотография")
  h3.item__title Свежайшая картошка,
    br
    |  лучше чем в Беларуси!
  time.item__date(datetime="2015-06-15Z") 15 июля 2015
  p.item__price
    b 32 
    span.rub ₽
    |  / кг
    
a.item(href="#")
  img.item__photo(src="images/item-8.png", alt="Фотография")
  h3.item__title Отличные томаты.
    br
    |  Сорт «бычье сердце»
  time.item__date(datetime="2015-06-15Z") 15 июля 2015
  p.item__price
    b 210 
    span.rub ₽
    |  / кг
