@import "../../helpers/*";
.people {
  background: $white;
  width: 340px;
  height: 455px;
  display: inline-block;
  vertical-align: top;
  padding: 60px 40px 40px;
  text-align: center;
  margin: 0 10px 10px 0;

  &:last-child {
    margin-right: 0;
    }

  &__photo {
    border-radius: 100%;
    display: block;
    margin: auto;
    width: 160px;
    height: 160px;
    }

  &__name {
    margin: 30px 0 0;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    color: $red;
    }

  &__role {
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 10px;
    color: $brown-middle;
    }

  &__abstract {
    font-size: 16px;
    line-height: 32px;
    color: $brown-middle;
    }
  }


@media (max-width: 1279px) {
  .people {
    box-sizing: border-box;
    width: calc(50% - 15px);
    height: 555px;
    padding: 60px 20px 40px;
    margin: 0 0 10px 10px;  
    &:nth-child(2n) {
      }
    }
  }

@media (max-width: 749px) {
  .people:last-child, 
  .people:first-child, 
  .people {
    display: block;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 60px 20px 40px;
    margin: 20px;
  }
}