.people
  img.people__photo(src="images/people-3.jpg", alt="Фотография")
  p.people__name Вероника Павлова
  p.people__role обслуживание клиентов
  p.people__abstract Изнутри знаю с какими проблемами и задачами сталкиваются продавцы и какие решения есть, для роста продаж. Обучаю только тому, что реально работает, что применяю сама.
