.people
  img.people__photo(src="images/people-1.jpg", alt="Фотография")
  p.people__name Игорь Гусев
  p.people__role основатель проекта
  p.people__abstract Слово «кенгуру» происходит от «kanguroo» или «gangurru» — названия этого животного на кууку-йимитирском языке аборигенов Австралии (язык пама-ньюнгской семьи), услышанного Джеймсом Куком от аборигенов.
