.people
  img.people__photo(src="images/people-2.jpg", alt="Фотография")
  p.people__name Руслан Мусин
  p.people__role основатель проекта
  p.people__abstract Успешный опыт в продажах, начиная от менеджера по холодным звонкам, заканчивая руководителем коммерческого отдела. Лучшая сделка — 70 млн. рублей.
