form.form.form_contacts(action="/forms/save", method="post")
  h2.form__title Шаг 4. Контакты

  fieldset.form__field
    label.form__label(for="form__name") Имя и фамилия
    input#form__name.form__input.form__input_middle(type="text", name="name", placeholder="Фёдор Михалков", required="required", maxlength="50")

  fieldset.form__field
    label.form__label(for="form__tel") Мобильный телефон
    input#form__tel.form__input.form__input_middle(type="tel", name="tel", placeholder="+7 (911) 11-22-33", required="required", maxlength="50")

  fieldset.form__field
    label.form__label(for="form__email") Электронная почта
    input#form__email.form__input.form__input_middle(type="email", name="email", placeholder="fedor@mail.ru", required="required", maxlength="50")

  fieldset.form__field
    label.form__label(for="form__city") Город
    input#form__city.form__input.form__input_middle(type="text", name="city", placeholder="Пушкин, Ленинградская область", required="required", maxlength="50")

  fieldset.form__field
    label.form__label(for="form__address") Адрес хозяйства
    input#form__address.form__input.form__input_wide(type="text", name="address", placeholder="Павловское шоссе, 20 км, 5 съезд", required="required", maxlength="250")
    .form__hint 
      p Шоссе, улица, номер трассы или километр

  fieldset.form__field.form__geolocation-box
    .form__map-wrapper
      input.form__lat(type="hidden", name="lat", value="")
      input.form__lng(type="hidden", name="lng", value="")
      .form__map

    .form__hint 
      p Вы можете уточнить адрес вашего хозяйства указав его на карте.

  fieldset.form__field
    label.form__label(for="form__instructions") Как проехать

    textarea#form__instructions.form__textarea(cols="80", rows="10", name="instructions", required="required", maxlength="300")
    .form__hint 
      p Описание до 300 знаков. Вы, скорее всего, находитесь не близко. 

      p Расскажите клиентам о схеме проезда, и они быстрее вас найдут.

  menu.form__menu
    button.form__publish.form__publish_wide(type="submit") Опубликовать
    a.form__back.form__back_icon(href="#") Вернуться к предыдущему шагу