form.form.form_recovery(action="/user/recovery", method="post")

  fieldset.form__field
    input.form__input.form__input_wider(type="email", name="email", placeholder="boba@mail.ru", required="required")
    
  menu.form__menu
    button.form__button.form__button_wider(type="submit") Восстановить пароль