form.form.form_ask(action="/user/ask", method="post")

  fieldset.form__field
    textarea.form__input.form__textarea.form__textarea_wide(name="message", placeholder="Мне не понятно, а где все уточки?", required="required", cols="20", rows="80")
    
  menu.form__menu
    button.form__button.form__button_wider(type="submit") Спросить