form.form.form_profile(action="/profile/save", method="post")
  h2.form__title Ваши данные

  fieldset.form__field
    label.form__label(for="form__name") Имя, фамилия
    input#form__name.form__input.form__input_middle(type="text", name="name", placeholder="Федор Михалков", required="required")

  fieldset.form__field
    label.form__label(for="form__email") Электронная почта
    input#form__email.form__input.form__input_middle(type="email", name="name", placeholder="fedor@mail.ru", required="required")

  menu.form__menu
    button.form__publish.form__publish_wide(type="submit") Сохранить
    button.form__back(type="reset") Отменить изменения

  p.form__abstract Хотите продавать на «Ярмонке»? Бесплатно 
    a(href="#") заполните профиль продавца 
    | и вперёд!
