.popup.popup_alert
  .popup__title Поздравляем!
  .popup__text Спасибо, что поделились мнением. 
    br
    | Мы разберёмся с обозначенной проблемой. 
    br
    | Телефон поддержки: 
    a.tel(href="tel:+7800800800") 8 (800) 800 800
  menu.popup__menu
    button.popup__close(type="button") Закрыть
    button.popup__close.popup__close_cross(type="button")