.popup.popup_ask
  .popup__title Cпроси меня как!
  .popup__text Мы обожаем, когда вы задаете сложные, неожиданные вопросы, которые поставили бы в тупик Канта и Фейербаха. Ну, давайте же, сделайте это.
  include ../form/form_ask.jade
  button.popup__close.popup__close_cross(type="button")