.popup.popup_feedback
  .popup__title Напишите нам!
  .popup__text Пока мы тестируем сервис для покупателей, просим рассказать о впечатлениях. Если вам понятно не всё, видно не до конца или совсем неудобно обращаться с функциями, пожалуйста, напишите — это будет большим вкладом.
  include ../form/form_feedback.jade
  button.popup__close.popup__close_cross(type="button")