.popup.popup_confirm
  .popup__title Подтверждение
  .popup__text Вы действительно хотите удалить из закладок 
    a(href="#") «Свинина деревенская копченая»?

  menu.popup__menu
    button.popup__accept(type="button") Удалить
    button.popup__reject(type="button") Отменить
    button.popup__close.popup__close_cross(type="button")