.popup.popup_recovery
  .popup__title Забыли пароль?
  .popup__text Для восстановления пароля введите адрес почты, указанный при регистрации. На него будет выслана инструкция.
  include ../form/form_recovery.jade
  button.popup__close.popup__close_cross(type="button")