@import "../../helpers/*";

.bookmarks {
  @import "../../helpers/*";

  &__footer {
    padding: 40px;
    border: 2px solid $grey-lightest;
    width: 804px;
    max-width: 100%;
    }

  &__add {
    @mixin red_button;
    }

  &__details {
    max-width: 888px;
    float: left;
    clear: left;
    margin: 0 0 64px;
    &_empty {
      display: none;
      outline: 0;
      }
    }

  &__clearit {
    @mixin pink_button;
    background: url('../images/clear.svg') 18px 50% no-repeat;
    }

  &__summ {
    text-align: right;
    width: 100px;
    }

  &__summary {
    font-size: 22px;
    line-height: 49px;
    height: 49px;
    float: right;
    color: $brown-middle;
    b {
      font-size: 48px;
      font-weight: bold;
      }
    }

  &__count {
    width: 40px;
    display: inline-block;
    text-align: center;
    }

  &__control {
    @mixin clear_button;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: 50% 50%;
    margin-top: 10px;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
    position: relative;
    &:first-child {
      margin-top: 0;
      }
    &_inc {
      background-image: url('../images/plus.svg');
      display: inline-block;
      vertical-align: middle;
      top: -7px;
      }
    &_dec {
      background-image: url('../images/minus.svg');
      display: inline-block;
      vertical-align: middle;

      top: -7px;
      }
    &_remove {
      background-image: url('../images/clear.svg');
      top: -30px;
      }
    }

  &__address {
    font-size: 18px;
    line-height: 30px;
    margin: 20px 0;
    display: inline-block;
    a {
      color: $red;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        }
      }
    }

  &__sub-title {
    font-size: 44px;
    line-height: 48px;
    font-weight: bold;
    font-family: 'Geometria Bold', Helvetica, Arial, sans-serif;
    color: $brown;
    border-bottom: 1px solid color($brown-middle a(15%));
    display: inline-block;
    margin: 0 0 10px;
    }

  &__table {
    margin: 0 0 60px;
    max-width: 888px;
    width: 100%;
    tfoot {
      th {
        vertical-align: middle;
        line-height: 132px;
        height: 132px;
        white-space: nowrap;
        text-align: left;
        font-size: 14px;
        color: $grey;
        font-size: 18px;
        b {
          font-size: 30px;
          font-weight: bold;
          }
        }
      }
    tbody{
      tr {
        background-color: $white;
        height: 132px;
        
        &.ads__moderation {
          background: color($white a(50%));
          img {
            opacity: .5;
            filter: grayscale(1);
            }
          td{
            color: color($grey a(50%));
            }
          }
        }
      td {
        vertical-align: middle;
        height: 132px;
        border-bottom: 3px solid $crayon;
        white-space: nowrap;
        padding: 0 20px 0 0;
        font-size: 16px;
        line-height: 26px;
        color: $grey;

        b {
          font-weight: bold;
          font-size: 22px;
          }

        p {
          overflow: hidden;
          position: relative;
          max-height: 78px;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          }

        &.bookmarks__price-wrapper {
          font-size: 22px;
          font-weight: 200;
          color: $brown-middle;
          font-family: 'Roboto Light';
          }

        &:first-child {
          padding: 0;
          width: 136px;
          height: 132px;
          }
        &:nth-child(2) {
          padding: 0 45px;
          white-space: normal;
          width: 100%;
          }
        }
      }
    img {
      width: 136px;
      height: 132px;
      display: block;
      }
    }

  &__wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 40px 20px 100px;
    @mixin clear;
    }

  &__register {
    @mixin red_button;
    padding: 0 50px;
    }

  &__header {
    border-bottom: 1px solid color($brown a(15%));
    padding: 0 0 27px;
    margin: 0 0 64px;
    }

  &__title {
    font-size: 75px;
    line-height: 100px;
    font-weight: bold;
    font-family: 'Geometria Bold', Helvetica, Arial, sans-serif;
    color: $brown;
    margin: 0 0 20px;
    }

  &__abstract {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: $brown;

    a {
      color: $red;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        }
      }
    }
  }


@media (max-width: 1270px) {
  .bookmarks {
    &__table {
      max-width: none;
      tbody td:nth-child(2) {
        padding: 0 20px;
        }
      }
    &__footer {
      max-width: none;
      width: auto;
    } 
    &__details {
      max-width: none;
      float: none;
      }
    }
  }
